/*!
 * Bootstrap v3.3.7 (http://getbootstrap.com)
 * Copyright 2011-2016 Twitter, Inc.
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
 */

/*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  margin: 0;
}

header,main,menu,nav,section {
  display: block;
}

[hidden] {
  display: none;
}

a {
  background-color: transparent;
}

a:active,a:hover {
  outline: 0;
}

strong {
  font-weight: 700;
}

h1 {
  margin: .67em 0;
  font-size: 2em;
}

img {
  border: 0;
}

button {
  margin: 0;
  font: inherit;
  color: inherit;
}

button {
  overflow: visible;
}

button {
  text-transform: none;
}

button {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled] {
  cursor: default;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

/*! Source: https://github.com/h5bp/html5-boilerplate/blob/master/src/css/main.css */

@media print {
  *,  :after,  :before {
    color: #000!important;
    text-shadow: none!important;
    background: 0 0!important;
    -webkit-box-shadow: none!important;
    box-shadow: none!important;
  }

  a,  a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  a[href^="javascript:"]:after,  a[href^="#"]:after {
    content: "";
  }

  img {
    page-break-inside: avoid;
  }

  img {
    max-width: 100%!important;
  }

  h2,  h3,  p {
    orphans: 3;
    widows: 3;
  }

  h2,  h3 {
    page-break-after: avoid;
  }
}

@font-face {
  font-family: 'Glyphicons Halflings';
  src: url(../fonts/glyphicons-halflings-regular.eot);
  src: url(../fonts/glyphicons-halflings-regular.eot?#iefix) format('embedded-opentype'), url(../fonts/glyphicons-halflings-regular.woff2) format('woff2'), url(../fonts/glyphicons-halflings-regular.woff) format('woff'), url(../fonts/glyphicons-halflings-regular.ttf) format('truetype'), url(../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular) format('svg');
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

:after,:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  background-color: #fff;
}

button {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

a {
  color: #337ab7;
  text-decoration: none;
}

a:focus,a:hover {
  color: #23527c;
  text-decoration: underline;
}

a:focus {
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

img {
  vertical-align: middle;
}

[role=button] {
  cursor: pointer;
}

.h1,.h2,.h3,.h4,.h5,.h6,h1,h2,h3,h4,h5,h6 {
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
}

.h1,.h2,.h3,h1,h2,h3 {
  margin-top: 20px;
  margin-bottom: 10px;
}

.h4,.h5,.h6,h4,h5,h6 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.h1,h1 {
  font-size: 36px;
}

.h2,h2 {
  font-size: 30px;
}

.h3,h3 {
  font-size: 24px;
}

.h4,h4 {
  font-size: 18px;
}

.h5,h5 {
  font-size: 14px;
}

.h6,h6 {
  font-size: 12px;
}

p {
  margin: 0 0 10px;
}

.text-right {
  text-align: right;
}

.page-header {
  padding-bottom: 0;
  margin: 40px 0 20px;
  border-bottom: 1px solid #eee;
}

ul {
  margin-top: 0;
  margin-bottom: 10px;
}

ul ul {
  margin-bottom: 0;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width:768px) {
  .container {
    width: 750px;
  }
}

@media (min-width:992px) {
  .container {
    width: 970px;
  }
}

@media (min-width:1200px) {
  .container {
    width: 1170px;
  }
}

.nav {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.nav>li {
  position: relative;
  display: block;
}

.nav>li>a {
  position: relative;
  display: block;
  padding: 10px 15px;
}

.nav>li>a:focus,.nav>li>a:hover {
  text-decoration: none;
  background-color: #eee;
}

.nav>li>a>img {
  max-width: none;
}

@-webkit-keyframes progress-bar-stripes {
  from {
    background-position: 40px 0;
  }

  to {
    background-position: 0 0;
  }
}

@-o-keyframes progress-bar-stripes {
  from {
    background-position: 40px 0;
  }

  to {
    background-position: 0 0;
  }
}

@keyframes progress-bar-stripes {
  from {
    background-position: 40px 0;
  }

  to {
    background-position: 0 0;
  }
}

.media {
  margin-top: 15px;
}

.media:first-child {
  margin-top: 0;
}

.media,.media-body {
  overflow: hidden;
  zoom: 1;
}

.media-body {
  width: 10000px;
}

.media-right {
  padding-left: 10px;
}

.media-body,.media-right {
  display: table-cell;
  vertical-align: top;
}

.container:after,.container:before,.nav:after,.nav:before {
  display: table;
  content: " ";
}

.container:after,.nav:after {
  clear: both;
}

.hidden {
  display: none!important;
}
body {
  margin: 0;
}

a {
  color: #B5A16A;
}

a:visited,a:hover {
  color: #B5A16A;
}

p,body {
  font-family: "Gotham SSm A", "Gotham SSm B", 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 300;
}

.page-wrapper {
  position: relative;
  z-index: 1;
}

/*** IE un-fix from Magento's fix which breaks the page. ***/

@supports (-webkit-overflow-scrolling: touch) {
  /* CSS specific to iOS devices */

  html {
    overflow: hidden;
    height: 100%;
  }

  body {
    height: 100%;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
  }
}

/* BUTTONS & CTAs */

.action {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 400;
  padding: 7px 15px;
  font-size: 1.4rem;
  box-sizing: border-box;
  vertical-align: middle;
}

/* HEADER */

header.page-header {
  background: #000;
  color: #333333;
  width: 100%;
  margin: 0 auto;
  border: 0;
}

header.page-header .block-search {
  position: relative;
  text-align: center;
  z-index: 100;
}

header.page-header .block-search .block-content {
  max-width: 290px;
  position: relative;
}

@media screen and (min-width: 767px) {
  header.page-header .block-search {
    float: left;
    text-align: center;
    width: 33.33%;
  }
}

header.page-header .logo {
  margin: auto;
}

header.page-header .logo img {
}

@media screen and (max-width: 767px) {
  header.page-header .logo img {
    max-width: 128px;
    width: 100%;
  }
}

header.page-header a {
  color: #333333;
  text-decoration: none;
}

header.page-header a:hover {
  text-decoration: underline;
}

header.page-header .header.content {
  padding: 1rem 0;
  margin: 0 auto;
  max-width: 1700px;
  /** .header.content responsive styles **/
}

@media screen and (max-width: 767px) {
  header.page-header .header.content .logo {
    display: block;
    margin: 0 auto;
    position: relative;
    padding: 0;
    text-align: center;
    top: 0;
  }
  header.page-header .header.content .logo img {
    display: inline-block;
  }
}


@media screen and (max-width: 767px) {
  header.page-header .header.content {
  }
}

.nav-sections {
  background: #ffffff;
  left: auto;
  position: relative;
  transition: right 0.25s ease-out;
  z-index: 99;
}


.nav-sections .nav-sections-item-content {
  background: #333333;
}

.nav-sections .navigation {
  text-align: center;
  background: transparent;
}

.nav-sections .navigation ul li {
  margin: 0;
  display: inline-block;
  position: relative;
  padding-bottom: 12px;
  padding-top: 12px;
}

.nav-sections .navigation ul li a {
  color: #ffffff;
  text-transform: uppercase;
  font-size: 25px;
  font-weight: 300;
  padding: 0 2rem;
  line-height: 25px;
  border-right: 1px solid #ffffff !important;
  border-bottom: 0 !important;
  transition: color 0.3s ease-in-out;
}

.nav-sections .navigation ul li a:hover {
  color: #B5A16A;
  text-decoration: none;
}

@media screen and (max-width: 1028px) {
  .nav-sections .navigation ul li a {
    font-size: 20px;
  }
}

@media screen and (max-width: 767px) {
  .nav-sections .navigation ul li a {
    border-right: 0 !important;
    text-align: left;
    font-weight: 500;
    padding-left: 2px;
    display: block;
  }

  .nav-sections .navigation ul li a:after {
    display: none;
  }
}

.nav-sections .navigation ul li:last-of-type a {
  border-right: 0 !important;
}

@media screen and (max-width: 767px) {
  .nav-sections .navigation ul li {
    width: 100%;
    padding: 20px 0;
  }
}

.nav-sections .navigation ul.ui-menu>li {
  margin: 0;
  display: inline-block;
  position: relative;
  padding-top: 12px;
  padding-bottom: 12px;
}

.nav-sections .navigation ul.ui-menu>li:last-of-type a {
  border-right: 0 !important;
}

.nav-sections .navigation ul.ui-menu>li>a {
  color: #ffffff !important;
  text-transform: uppercase;
  font-size: 25px;
  font-weight: 300;
  padding: 0 2rem;
  line-height: 25px;
  border-right: 1px solid #ffffff !important;
  border-bottom: 0 !important;
  transition: color 0.3s ease-in-out;
}

.nav-sections .navigation ul.ui-menu>li>a:hover {
  color: #B5A16A !important;
  text-decoration: none;
}

@media screen and (max-width: 1028px) {
  .nav-sections .navigation ul.ui-menu>li>a {
    font-size: 20px;
  }
}

@media screen and (max-width: 767px) {
  .nav-sections .navigation ul.ui-menu>li>a {
    border-right: 0 !important;
    text-align: left;
    font-weight: 500;
    padding-left: 2px;
    display: block;
  }

  .nav-sections .navigation ul.ui-menu>li>a:after {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .nav-sections .navigation ul.ui-menu>li {
    width: 100%;
    padding: 20px 0;
  }
}

.nav-sections .navigation>div {
  color: #ffffff !important;
  text-transform: uppercase;
  font-size: 25px;
  font-weight: 300;
  padding: 8px 2rem;
  line-height: 25px;
  border-bottom: 0 !important;
  transition: color 0.3s ease-in-out;
}

@media screen and (min-width: 1200px) {
  .nav-sections {
    margin-bottom: 0 !important;
  }
}

@media screen and (max-width: 767px) {
  .nav-sections .nav-sections-items {
    margin: 20px auto;
  }

  .nav-sections .nav-sections-items .nav-sections-item-title {
    border: none;
    background: #DFDDDA;
    border-radius: 0 4px 4px 0;
    height: auto;
    padding: 13px 5px;
    width: 50%;
    box-sizing: border-box;
    float: left;
    text-align: center;
  }

  .nav-sections .nav-sections-items .nav-sections-item-title:first-child {
    border-radius: 4px 0 0 4px;
  }

  .nav-sections .nav-sections-items .nav-sections-item-title.active {
    background: #52BBC4;
  }
}

@media screen and (max-width: 767px) and (max-width: 767px) {
  .nav-sections .nav-sections-items .nav-sections-item-title {
    display: block;
  }
}


/** 1. Homepage **/

.cms-home .page-wrapper {
  min-height: 0;
}

.cms-home .home-page-products-section {
  margin: 8rem 0 14rem;
}

@media screen and (max-width: 420px) {
  .cms-home .home-page-products-section {
    margin: 4rem 0 4rem;
  }
}

@media all and (min-width:768px), print {
  .page-main .block {
    margin-bottom: 50px;
  }

  .header.content:before,  .header.content:after {
    content: '';
    display: table;
  }

  .header.content:after {
    clear: both;
  }

  .column.main {
    box-sizing: border-box;
  }

  h1 {
    font-size: 40px;
    margin-bottom: 40px;
  }

  .navigation,  .header.content,  .page-wrapper>.widget,  .page-main {
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    max-width: 1280px;
    padding-left: 20px;
    padding-right: 20px;
    width: auto;
  }

  .page-main {
    width: 100%;
    -webkit-flex-grow: 1;
    flex-grow: 1;
    -webkit-flex-shrink: 0;
    flex-shrink: 0;
    -webkit-flex-basis: auto;
    flex-basis: auto;
  }

  .column.main {
    min-height: 300px;
  }

  .page-layout-1column .column.main {
    width: 100%;
    -ms-flex-order: 2;
    -webkit-order: 2;
    order: 2;
  }

  .nav-sections {
    -webkit-flex-shrink: 0;
    flex-shrink: 0;
    -webkit-flex-basis: auto;
    flex-basis: auto;
    margin-bottom: 25px;
  }

  .nav-sections-item-title {
    display: none;
  }

  .nav-sections-item-content {
    display: block !important;
  }

  .nav-sections-item-content>.navigation {
    display: block;
  }

  .navigation {
    background: #f0f0f0;
    font-weight: 700;
    height: inherit;
    left: auto;
    overflow: inherit;
    padding: 0;
    position: relative;
    top: 0;
    width: 100%;
    z-index: 3;
  }

  .navigation:empty {
    display: none;
  }

  .navigation div {
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
    position: relative;
  }
}
@media (max-width: 767px){
  .slide-content > * {
    font-size: 20px;
  }
  .aw-rbslider-container ul.uk-slideshow .slide-text-section {
    margin-bottom: 15px;
    position: relative;
    width: 100%;
    padding: 0 5%;
  }
  .aw-rbslider__img {
    padding: 0 5%;
  }
}
@media (min-width: 767px){
  .aw-rbslider-container ul.uk-slideshow .slide-text-section {
    left: auto;
    padding-right: 5%;
    position: absolute;
    right: 0;
    width: 40%;
  }
  .slide-content > * {
    font-size: 4.7rem;
  }
}
@media (min-width: 1200px){
  .aw-rbslider-container ul.uk-slideshow .slide-text-section {
    padding-right: 0;
    right: 5%;
    top: 10%;
  }
}
#banner-toppikukhomepagetopbanner {
  max-width: 100%;
  padding-top: 15px;
  position: relative;
}
.uk-slideshow, .uk-slideshow > li {
  padding: 0;
  margin: 0;
}
.uk-slideshow {
  display: block;
  position: relative;
  margin: 0 auto;
  max-width: 1300px;
}
.aw-rbslider__img {
  max-width: 100%;
}
.block.block-search p {
  font-size: 18px;
  font-weight: bold;
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}
.tpk-banner-table {
  display:table;
  width:100%;
  table-layout:fixed
 }
 @media (max-width:991px) {
  .tpk-banner-table {
   display:block;
   padding:0 !important;
   height:auto !important;
   max-width:none !important;
   background-color:transparent !important
  }
 }
 .tpk-banner-row {
  display:table-row
 }
 @media (max-width:991px) {
  .tpk-banner-row {
   display:block;
   width:100%
  }
 }
 .tpk-banner-cell {
  display:table-cell;
  width:2%;
  text-align:center
 }
 .tpk-banner-cell.tpk-banner-cell-disabled {
  display:none
 }
 @media (max-width:991px) {
  .tpk-banner-cell {
   display:block;
   width:100%
  }
 }
 .tpk-banner-label {
  cursor:pointer;
  display:inline-block
 }
 .tpk-banner-label::after {
  color:#FFF;
  border-bottom:1px solid #8e8e8e;
  font-size:10px;
  content:'details';
  display:inline-block;
  line-height:12px;
  margin-left:5px;
  position:relative;
  top:-1px;
  line-height:10px
 }
 .tpk-banner-popup {
  display:none
 }
 .tpk-banner-container {
  background-color:#333;
  color:#FFF;
  line-height:30px;
  height:30px;
  overflow:hidden;
  font-size:13px
 }
 @media (max-width:991px) {
  .tpk-banner-container {
   margin-top:0;
   width:100%
  }
 }
 @media (max-width:767px) {
  .tpk-banner-container {
   font-size:3.2vw
  }
 }
 .tpk-banner-container a {
  color:#FFF;
  border-bottom:1px solid #8e8e8e
 }
 .tpk-banner-container a,
 .tpk-banner-container a:focus,
 .tpk-banner-container a:hover,
 .tpk-banner-container a:active {
  text-decoration:none
 }
 header.has-tpk-banner {
  top:30px;
  transition:top .5s;
  -ms-transition:top .5s
 }
 header.has-tpk-banner.hidden-tpk-banner {
  top:0
 }
 @media (max-width:991px) {
  header.has-tpk-banner {
   top:0
  }
  header.has-tpk-banner>.container {
   padding-bottom:28px
  }
 }
 header.has-tpk-banner+.wrapper-main {
  padding-top:130px
 }
 @media (max-width:991px) {
  header.has-tpk-banner+.wrapper-main {
   padding-top:120px
  }
 }
 .clearfix:after {
  content: " "; /* Older browser do not support empty content */
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}
.clearfix::before{
  content: ' ';
  display: table;
}
.tpk-banner-popup.message.message-dialog *, .tpk-banner-popup.message.message-dialog {
  text-align: center;
}
.tpk-banner-popup.message.message-dialog {
  border-top: 4px solid #B5A16A
}

footer.page-footer {
  padding:60px 0 0;
  background:#000;
  color:#FFF;
  margin-bottom:0;
  margin-top: 0;
  text-align:center
 }
 footer.page-footer .footer.content {
  padding:0;
  border:0;
  margin-top:9px
 }
 footer.page-footer .block-subscribe {
  text-align:center
 }
 footer.page-footer .block-subscribe .input-box {
  background:#fff;
  border-radius:9px;
  max-width:210px;
  padding:5px 10px;
  position:relative;
  display:inline-block
 }
 footer.page-footer .block-subscribe .input-box .input-text {
  background:none;
  border:none;
  color:#000;
  font-size:13px;
  line-height:1;
  font-weight:400;
  height:30px;
  padding:0 20px 0 0;
  text-transform:uppercase;
  width:100%
 }
 footer.page-footer .block-subscribe .input-box .input-text:focus {
  outline:none
 }
 footer.page-footer .block-subscribe .input-box button {
  background:none;
  border:none;
  color:#B5A16A;
  font-size:25px;
  line-height:1;
  position:absolute;
  right:3px;
  top:6px;
  padding:1px 6px
 }
 footer.page-footer .row {
  margin-left:0;
  margin-right:0
 }
 @media (min-width:768px) AND (max-width:1200px) {
  footer.page-footer .row .col-sm-4 {
   width:auto;
   float:none
  }
  footer.page-footer .row .col-sm-4 .sm {
   text-align:center
  }
  footer.page-footer .row .desktop {
   margin-bottom:0
  }
 }
 footer.page-footer .copyright {
  color:#4d4d4d;
  font-size:10px;
  margin-top:0 !important;
  margin-bottom:53px !important
 }
 footer.page-footer .footer-brand-logos img {
  margin-top:15px
 }
 footer.page-footer a,
 footer.page-footer a:hover,
 footer.page-footer a:active,
 footer.page-footer a:focus,
 footer.page-footer a:visited {
  color:#FFF;
  text-decoration:none;
  text-transform:uppercase;
  font-size:11px
 }
 footer.page-footer .logo {
  position:relative;
  top:-15px;
  display:inline-block;
  float:none;
  margin:0
 }
 footer.page-footer ul.links {
  width:100%;
  font-size:0.75em;
  line-height:1;
  text-align:center;
  float:left;
  margin-bottom:0 !important
 }
 footer.page-footer ul.links li {
  display:inline-block;
  margin-right:20px !important;
  margin-bottom:48px !important
 }
 footer.page-footer ul.links li:last-child {
  margin-right:0px !important
 }
 footer.page-footer ul.sm {
  text-align:right
 }
 footer.page-footer ul.sm li {
  display:inline-block;
  vertical-align:middle
 }
 footer.page-footer ul.sm li a {
  display:inline-block;
  font-size:25px;
  margin:0 12px
 }
 footer.page-footer ul.sm li a.facebook {
  background-position:10px 5px
 }
 footer.page-footer ul.sm li a.twitter {
  background-position:-45px 5px
 }
 footer.page-footer ul.sm li a.pinterest {
  background-position:-90px 5px
 }
 footer.page-footer ul.sm li a.youtube {
  background-position:-140px 5px
 }
 footer.page-footer ul.sm li a.googleplus {
  background-position:-185px 5px
 }
 footer.page-footer ul.sm li a.instagram {
  background-position:-190px 5px
 }
 footer.page-footer ul.sm li .separator {
  width:20px;
  height:2px;
  display:inline-block;
  vertical-align:middle;
  background:url("../images/socialmedia_separator.png") center 0 no-repeat
 }
 footer.page-footer #newsletter-box {
  position:absolute;
  display:none;
  width:100%;
  text-align:center;
  margin-top:-50px;
  padding-right:30px
 }
 footer.page-footer #newsletter-box #newsletter-email {
  display:inline-block !important;
  width:75% !important
 }
 footer.page-footer #newsletter-box #newsletter-send {
  border-radius:0 !important;
  box-shadow:none !important;
  background-color:#000 !important
 }
 @media screen and (max-width:315px) {
  footer.page-footer #newsletter-box #newsletter-email {
   width:70% !important
  }
 }
 .copyright {
  text-align:center;
  font-size:.625em
 }
 .m_b43 {
  margin-bottom:43px
 }
 @media screen and (max-width:1024px) {
  footer.page-footer .copyright {
   margin-top:15px !important;
   margin-bottom:0 !important;
   padding-bottom:23px
  }
  footer.page-footer ul.links li {
   margin-right:0px !important;
   margin-bottom:0px !important;
   padding:10px
  }
 }
 @media screen and (max-width:991px) {
  .copyright,
  .footer-brand-logos {
   text-align:center
  }
  .copyright img,
  .footer-brand-logos img {
   max-width:100%
  }
  footer.page-footer ul.sm,
  footer.page-footer ul.links {
   text-align:center
  }
 }
 #newsletter-validate-detail-footer .message,
 #newsletter-validate-detail .message {
  position:absolute;
  top:50px;
  left:0;
  clear:both;
  color:#a94442;
  padding:15px;
  margin-bottom:20px;
  font-size:12px;
  font-family:'Gotham A','Gotham B',Helvetica,Arial,sans-serif
 }
 #newsletter-validate-detail-footer .message.error,
 #newsletter-validate-detail .message.error {
  background-color:#f2dede;
  border:1px solid #ebccd1;
  border-radius:4px
 }
 #newsletter-validate-detail-footer .message.success,
 #newsletter-validate-detail .message.success {
  background-color:#dff0d8;
  border:1px solid #d6e9c6;
  border-radius:4px;
  color:#3c763d
 }
 #newsletter-validate-detail-footer input.input-text,
 #newsletter-validate-detail input.input-text,
 #newsletter-validate-detail-footer button:active,
 #newsletter-validate-detail button:active {
  box-shadow:none;
  border:none;
  outline:none
 }
 #newsletter-validate-detail .message {
  top:-12px;
  left:144px
 }
 footer::before{
   display: none !important;
 }
footer.page-footer .social_links > ul.sm {
   text-align: center;
 }

.privacy-page .para {
  padding-bottom:15px
 }
 .privacy-page h2,
 .privacy-page .h2 {
  font-size:22px
 }
 .cms-customer-service .page-main {
  max-width:100%;
  padding-left:0;
  padding-right:0
 }
 .cms-customer-service .columns .column.main {
  padding-bottom:0
 }
 .cms-customer-service .ul-cms-new li {
  margin:0
 }
 .privacy-page .heading,
 .technology-page .heading {
  margin-bottom:60px
 }
 .aboutus-page .heading,
 .privacy-page .heading,
 .customerservice-page .heading,
 .faqs-page .heading {
  margin-top:40px;
  font-size:50px;
  font-weight:500;
  margin-bottom:30px;
  text-transform:uppercase;
  font-family:'Gotham A','Gotham B'
 }
 .aboutus-page,
 .privacy-page,
 .cms-customer-service .container-cms-new,
 .faqs-page {
  color:black;
  width:100%;
  max-width:1080px;
  margin:0px auto
 }
 .privacy-page,
 .customerservice-page,
 .faqs-page {
  padding-bottom:20px;
  line-height:normal
 }
 .privacy-page .heading,
 .technology-page .heading {
  margin-bottom:60px
 }
 .cms-index-index .page-main a i,
 .cms-index-index .page-main a em {
  font-family:'Gotham A','Gotham B';
  font-weight:400;
  text-transform:uppercase;
  font-size:12px;
  text-decoration:none;
  color:#333;
  font-style:italic
 }
 .cms-index-index>.page-wrapper h2 {
  font-family:'Gotham A','Gotham B';
  font-weight:400;
  text-transform:uppercase;
  font-size:1.25em;
  text-align:center;
  padding-top:1em;
  padding-bottom:1.75em
 }
 .cms-index-index>.page-wrapper h3 {
  font-family:'Gotham A','Gotham B';
  font-weight:200;
  text-transform:uppercase;
  font-size:.875em;
  text-align:center;
  border-top:1px solid #333
 }
 .cms-index-index>.page-wrapper h3 .draghandle {
  width:42px;
  height:42px;
  background-image:url('../images/cms/image-slider-button.png');
  position:absolute;
  right:10px;
  top:-15px
 }
 .cms-index-index>.page-wrapper h3 .click,
 .cms-index-index>.page-wrapper h3 .tap {
  position:relative;
  display:none;
  background-color:#fff;
  width:170px;
  margin:auto;
  margin-top:-21px;
  padding:0 1em;
  line-height:1.65em;
  box-sizing:content-box
 }
 .cms-index-index>.page-wrapper h3 .tap {
  width:130px;
  display:block
 }
 .cms-index-index>.page-wrapper p {
  display:none;
  text-align:center;
  margin:auto;
  margin-bottom:2em;
  font-size:1em;
  font-family:'Gotham A','Gotham B';
  font-weight:400;
  line-height:1.6em
 }
 @media (min-width:540px) {
  .cms-index-index>.page-wrapper h3 {
   margin:auto
  }
 }
 @media (min-width:1025px) {
  .cms-index-index>.page-wrapper h2 {
   font-size:1.875em;
   padding-bottom:1em
  }
  .cms-index-index>.page-wrapper p {
   display:block;
   max-width:700px
  }
  .cms-index-index>.page-wrapper h3 {
   text-align:left
  }
  .cms-index-index>.page-wrapper h3 .tap {
   display:none
  }
  .cms-index-index>.page-wrapper h3 .click {
   display:block
  }
 }
 .cms-index-index>.page-wrapper a b,
 .cms-index-index>.page-wrapper a strong {
  font-family:'Gotham A','Gotham B';
  font-weight:500;
  text-transform:uppercase;
  font-size:80%
 }
 .cms-index-index>.page-wrapper #fullhair,
 .cms-index-index>.page-wrapper #oneclickaway,
 .cms-index-index>.page-wrapper #moneyback,
 .cms-index-index>.page-wrapper #technology,
 .cms-index-index>.page-wrapper #bottom {
  padding:1.875em 1.25em
 }
 .cms-index-index>.page-wrapper #oneclickaway {
  background-color:#f2f2f3;
  margin-left:-15px;
  margin-right:-15px;
  box-sizing:content-box;
  margin-top:15px
 }
 .cms-index-index>.page-wrapper #oneclickaway h2 {
  font-family:'Gotham A','Gotham B';
  font-weight:400;
  text-transform:uppercase;
  font-size:1.125em;
  text-align:center;
  padding-top:.75em;
  padding-bottom:1.25em;
  margin:0
 }
 .cms-index-index>.page-wrapper #oneclickaway p,
 .cms-index-index>.page-wrapper #oneclickaway h2.oneclick {
  display:none
 }
 .cms-index-index>.page-wrapper #oneclickaway .nineshades {
  background-image:url('../images/cms/90c99451.mobile_nineshades.png');
  width:277px;
  height:45px;
  margin:auto;
  display:block
 }
 .cms-index-index>.page-wrapper #technology {
  padding:4em 2em
 }
 .cms-index-index>.page-wrapper #technology h2 {
  font-family:'Gotham A','Gotham B';
  font-weight:400;
  text-transform:uppercase;
  font-size:1.125em;
  text-align:center;
  padding-top:0;
  padding-bottom:.75em;
  line-height:1.6em
 }
 .cms-index-index>.page-wrapper #technology p {
  display:none
 }
 .cms-index-index>.page-wrapper #technology .more_info {
  background-image:url('../images/cms/335e8564.mobile_sprite_cta_buttons.png');
  height:43px;
  width:136px;
  display:inline-block
 }
 .cms-index-index>.page-wrapper #technology .more_info {
  background-color:#000;
  box-shadow:0 3px 0 #797979;
  margin:auto;
  display:block;
  margin-top:1em
 }
 .cms-index-index>.page-wrapper #technology .comparison {
  background-image:url('../images/cms/e20e1c3e.mobile_beforeafter.png');
  width:280px;
  height:120px;
  margin:auto
 }
 .cms-index-index>.page-wrapper .carousel.application {
  height:362px
 }
 .cms-index-index>.page-wrapper>.container {
  width:100%
 }
 .cms-index-index>.page-wrapper .carouselwrap {
  background-color:#000;
  margin-left:-15px;
  margin-right:-15px
 }
 .cms-index-index>.page-wrapper .carousel {
  height:260px;
  background-color:#000;
  overflow:hidden;
  max-width:320px;
  margin:auto
 }
 .cms-index-index>.page-wrapper .carousel.application {
  height:362px
 }
 .cms-index-index>.page-wrapper .carousel .slidewrap {
  width:301%;
  height:100%;
  position:relative
 }
 .cms-index-index>.page-wrapper .carousel .main {
  position:relative
 }
 .cms-index-index>.page-wrapper .carousel .slidewrap .slide {
  display:inline-block;
  max-width:320px;
  margin-bottom:1em;
  width:100%
 }
 .cms-index-index>.page-wrapper .carousel .fullwidth {
  background-image:url('../images/cms/66456412.mobile_dude_applying_product.png');
  background-position:center center;
  background-repeat:no-repeat;
  background-color:#000;
  height:362px;
  position:relative;
  background-size:cover
 }
 .cms-index-index>.page-wrapper .carousel .main .fullwidth {
  height:260px
 }
 .cms-index-index>.page-wrapper .carousel.application .main .fullwidth {
  height:300px
 }
 .cms-index-index>.page-wrapper .carousel .buttons {
  width:280px;
  margin:auto
 }
 .cms-index-index>.page-wrapper .carousel .fullwidth .watch {
  background-image:url('../images/cms/1bc8fcf7.mobile_watch_video.png');
  width:92px;
  height:66px;
  margin:auto;
  position:relative;
  top:25%;
  display:block;
  z-index:900
 }
 .cms-index-index>.page-wrapper .carousel .brief {
  display:none
 }
 .cms-index-index>.page-wrapper .carousel .buttons a {
  background-image:url('../images/cms/335e8564.mobile_sprite_cta_buttons.png');
  height:43px;
  width:136px;
  display:inline-block
 }
 .cms-index-index>.page-wrapper .carousel .buttons a {
  background-image:url('../images/335e8564.mobile_sprite_cta_buttons.png');
  height:43px;
  width:136px;
  display:inline-block
 }
 .cms-index-index>.page-wrapper .carousel .buttons a.more_info,
 .cms-index-index>.page-wrapper .more_info {
  background-position:88% 0
 }
 .cms-index-index>.page-wrapper .carousel .buttons a {
  background-image:url('../images/cms/335e8564.mobile_sprite_cta_buttons.png');
  height:43px;
  width:136px;
  display:inline-block
 }
 .cms-index-index>.page-wrapper .carousel .buttons a.more_info,
 .cms-index-index>.page-wrapper .more_info {
  background-position:88% 0
 }
 @media (min-width:768px) {
  .cms-index-index>.page-wrapper #oneclickaway {
   background-image:url('../images/cms/tablet_oneclick.png');
   background-position:center center;
   background-repeat:no-repeat;
   height:340px
  }
  .cms-index-index>.page-wrapper #oneclickaway h2.oneclick {
   text-align:left;
   font-size:30px;
   line-height:1.3em;
   padding:0;
   padding-left:210px;
   display:block
  }
  .cms-index-index>.page-wrapper #oneclickaway .wrap {
   max-width:720px;
   margin:auto
  }
  .cms-index-index>.page-wrapper #oneclickaway .available,
  .cms-index-index>.page-wrapper #oneclickaway .nineshades {
   display:none
  }
  .cms-index-index>.page-wrapper #oneclickaway p {
   display:block;
   margin-top:.75em;
   padding-left:210px;
   text-align:left
  }
  .cms-index-index>.page-wrapper #technology {
   position:relative;
   max-width:930px;
   margin:auto
  }
  .cms-index-index>.page-wrapper #technology h2 {
   font-size:30px;
   text-align:left;
   max-width:490px;
   padding-bottom:10px
  }
  .cms-index-index>.page-wrapper #technology p {
   max-width:55%;
   font-family:'Gotham A','Gotham B';
   font-weight:400;
   line-height:1.6em;
   padding-bottom:10px;
   display:block;
   text-align:left;
   margin:0
  }
  .cms-index-index>.page-wrapper #technology .more_info {
   margin:0;
   background:0;
   background-image:url('../images/cms/3a8e7957.tablet_more_info_black.png');
   background-repeat:no-repeat;
   box-shadow:none
  }
  .cms-index-index>.page-wrapper #technology .comparison {
   position:absolute;
   right:0;
   top:65px
  }
  .cms-index-index>.page-wrapper .carousel.application {
   height:442px
  }
 }
 .cms-index-index>.page-wrapper .carousel .slidewrap {
  width:301%;
  height:100%;
  position:relative
 }
 @media (max-width:320px) {
  .cms-index-index>.page-wrapper #technology .comparison {
   margin-left:-30px
  }
  .cms-index-index>.page-wrapper #oneclickaway .nineshades {
   margin-left:-15px
  }
 }
 @media (min-width:540px) {
  .cms-index-index>.page-wrapper #oneclickaway .nineshades {
   background-image:url('../images/cms/1c0a88fd.tablet_nineshades.png');
   width:444px;
   height:77px
  }
  .cms-index-index>.page-wrapper #technology .comparison {
   background-image:url('../images/cms/110c029d.tablet_beforeafter.png');
   width:350px;
   height:153px;
   background-size:cover
  }
  .cms-index-index>.page-wrapper .carousel.application {
   height:392px
  }
  .cms-index-index>.page-wrapper .carousel {
   padding:0 0 1em;
   height:320px;
   max-width:540px
  }
  .cms-index-index>.page-wrapper .carousel.application {
   height:392px
  }
  .cms-index-index>.page-wrapper .carousel .main {
   position:relative
  }
  .cms-index-index>.page-wrapper .carousel .slidewrap .slide {
   max-width:540px
  }
  .cms-index-index>.page-wrapper .carousel .fullwidth {
   background-image:url('../images/cms/3d8c3276.tablet_dude_applying_product.png');
   background-size:cover;
   height:408px
  }
  .cms-index-index>.page-wrapper .carousel .main .fullwidth {
   height:333px
  }
  .cms-index-index>.page-wrapper .carousel.application .main .fullwidth {
   height:333px
  }
  .cms-index-index>.page-wrapper .carousel .buttons {
   margin:1em auto
  }
  .cms-index-index>.page-wrapper .carousel .fullwidth .watch {
   top:50%
  }
  .cms-index-index>.page-wrapper .carousel .brief {
   display:block;
   width:50%;
   color:#f4f4f4;
   line-height:1.6em;
   position:absolute;
   top:0;
   padding:25px;
   opacity:.95
  }
  .cms-index-index>.page-wrapper .carousel .brief h2 {
   font-family:'Gotham A','Gotham B';
   font-weight:400;
   font-size:1.25em;
   text-transform:uppercase;
   text-align:left;
   padding:0;
   margin:0;
   margin-bottom:10px
  }
  .cms-index-index>.page-wrapper .carousel .brief p {
   font-family:'Gotham A','Gotham B';
   font-weight:300;
   font-size:.875em;
   text-align:left;
   display:block
  }
 }
 @media (min-width:768px) {
  .cms-index-index>.page-wrapper .carousel .buttons {
   top:150px;
   left:30px;
   position:absolute
  }
  .cms-index-index>.page-wrapper .carousel.application {
   height:442px
  }
  .cms-index-index>.page-wrapper .carousel {
   max-width:1024px;
   margin:auto;
   position:relative;
   max-width:768px
  }
  .cms-index-index>.page-wrapper .carousel .slidewrap .slide {
   max-width:768px;
   position:relative
  }
  .cms-index-index>.page-wrapper .carousel .main .fullwidth {
   height:442px
  }
  .cms-index-index>.page-wrapper .carousel,
  .cms-index-index>.page-wrapper .carousel .fullwidth {
   height:442px;
   padding:0
  }
  .cms-index-index>.page-wrapper .carousel {
   max-width:1024px;
   margin:auto;
   position:relative;
   max-width:768px
  }
 }
 @media (min-width:1025px) {
  .cms-index-index>.page-wrapper .carousel.application {
   height:500px
  }
  .cms-index-index>.page-wrapper .carousel {
   max-width:1152px
  }
  .cms-index-index>.page-wrapper .carousel .slidewrap .slide {
   max-width:1152px
  }
  .cms-index-index>.page-wrapper .carousel.application .main .fullwidth {
   height:498px
  }
  .cms-index-index>.page-wrapper .carousel .fullwidth .watch {
   background-image:url('../images/cms/9f06b49e.desktop_watch_video.png');
   width:93px;
   height:123px;
   top:30%
  }
 }
 .lightbox {
  display:none;
  position:fixed;
  width:100%;
  height:100%;
  background:rgba(0,0,0,0.75);
  top:0;
  left:0;
  z-index:900000000000
 }
 .lightbox .wrap {
  display:table;
  width:100%;
  height:100%;
  max-width:none !important
 }
 .lightbox .wrap .vertical_control {
  display:table-cell;
  vertical-align:middle
 }
 .lightbox .wrap .horizontal_control {
  text-align:center
 }
 .lightbox .wrap .content {
  display:inline-block;
  padding:4em;
  max-width:100%
 }
 @media (max-width:480px) {
  .lightbox .wrap .content {
   padding:0
  }
 }
 .videoWrapper {
  position:relative;
  padding-bottom:56.25%;
  padding-top:25px;
  height:0
 }
 .videoWrapper iframe {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%
 }
 body.lightbox_on .lightbox {
  display:block
 }
 @media (max-width:600px) {
  .cms-faqs .productslist {
   display:none
  }
 }
 .cms-toppik-men>.container,
 .cms-toppik-women>.container,
 .cms-before-and-afters>.container {
  width:100%
 }
 .cms-toppik-men #tapscalp h3 .draghandle,
 .cms-toppik-women #tapscalp h3 .draghandle,
 .cms-before-and-afters #tapscalp h3 .draghandle {
  width:42px;
  height:42px;
  background-image:url('../images/cms/image-slider-button.png');
  position:absolute;
  right:10px;
  top:-9px;
  display:block
 }
 .cms-toppik-men #tapscalp h3 span,
 .cms-toppik-women #tapscalp h3 span,
 .cms-before-and-afters #tapscalp h3 span {
  position:relative;
  display:block;
  background-color:#f0f0f0;
  width:130px;
  margin:auto;
  margin-top:-7px;
  padding:0 .25em
 }
 .cms-toppik-men #tapscalp h3 .click,
 .cms-toppik-women #tapscalp h3 .click,
 .cms-before-and-afters #tapscalp h3 .click {
  display:none;
  box-sizing:content-box
 }
 .cms-toppik-men #tapscalp h3 span,
 .cms-toppik-women #tapscalp h3 span,
 .cms-before-and-afters #tapscalp h3 span {
  position:relative;
  display:block;
  background-color:#f0f0f0;
  width:130px;
  margin:auto;
  margin-top:-7px;
  padding:0 .25em
 }
 .cms-toppik-men #tapscalp h3 .tap,
 .cms-toppik-women #tapscalp h3 .tap,
 .cms-before-and-afters #tapscalp h3 .tap {
  display:block;
  box-sizing:content-box
 }
 .cms-toppik-men #tapscalp h3,
 .cms-toppik-women #tapscalp h3,
 .cms-before-and-afters #tapscalp h3 {
  text-transform:uppercase;
  font-size:.875em;
  text-align:center;
  border-top:1px solid #333;
  margin-top:14px;
  margin-bottom:26px
 }
 .cms-toppik-men #tapscalp .wrap,
 .cms-toppik-women #tapscalp .wrap,
 .cms-before-and-afters #tapscalp .wrap {
  max-width:348px;
  margin:auto
 }
 .cms-toppik-men #tapscalp,
 .cms-toppik-women #tapscalp,
 .cms-before-and-afters #tapscalp {
  background-color:#f0f0f0;
  padding:1.875em;
  margin-left:-15px;
  margin-right:-15px
 }
 .cms-toppik-men #tapscalp .toppik-image-slider,
 .cms-toppik-women #tapscalp .toppik-image-slider,
 .cms-before-and-afters #tapscalp .toppik-image-slider {
  margin-bottom:0;
  margin-top:0
 }
 @media (min-width:1136px) {
  .cms-toppik-men #tapscalp h3 .click,
  .cms-toppik-women #tapscalp h3 .click,
  .cms-before-and-afters #tapscalp h3 .click {
   display:block;
   width:184px;
   text-align:left;
   padding-left:10px
  }
  .cms-toppik-men #tapscalp h3 .tap,
  .cms-toppik-women #tapscalp h3 .tap,
  .cms-before-and-afters #tapscalp h3 .tap {
   display:none
  }
  .cms-toppik-men #tapscalp .wrap,
  .cms-toppik-women #tapscalp .wrap,
  .cms-before-and-afters #tapscalp .wrap {
   max-width:712px
  }
 }
 .cms-toppik-men #instant,
 .cms-toppik-women #instant,
 .cms-before-and-afters #instant {
  font-family:'Gotham A','Gotham B';
  font-weight:400;
  padding:1.875em;
  box-sizing:content-box
 }
 .cms-toppik-men .wrap,
 .cms-toppik-women .wrap,
 .cms-before-and-afters .wrap {
  max-width:380px;
  margin:auto
 }
 .cms-toppik-men #instant h2,
 .cms-toppik-women #instant h2,
 .cms-before-and-afters #instant h2,
 .cms-toppik-men #instant h3,
 .cms-toppik-women #instant h3,
 .cms-before-and-afters #instant h3 {
  text-transform:uppercase;
  text-align:center;
  font-family:'Gotham A','Gotham B';
  font-weight:400
 }
 .cms-toppik-men #instant h2,
 .cms-toppik-women #instant h2,
 .cms-before-and-afters #instant h2 {
  font-size:1.5em;
  margin-bottom:14px;
  margin-top:9px
 }
 .cms-toppik-men #instant h3,
 .cms-toppik-women #instant h3,
 .cms-before-and-afters #instant h3 {
  font-size:1.125em;
  margin-bottom:23px
 }
 .cms-toppik-men #instant .wrap>div,
 .cms-toppik-women #instant .wrap>div,
 .cms-before-and-afters #instant .wrap>div {
  width:49%;
  text-align:center;
  display:inline-block;
  margin-bottom:23px;
  vertical-align:top
 }
 .cms-toppik-men #instant>.wrap>div>.wrap,
 .cms-toppik-women #instant>.wrap>div>.wrap,
 .cms-before-and-afters #instant>.wrap>div>.wrap {
  width:120px;
  display:inline-block
 }
 .cms-toppik-men .bottom_text,
 .cms-toppik-women .bottom_text,
 .cms-before-and-afters .bottom_text {
  text-align:center
 }
 .cms-toppik-men .bottom_text>div,
 .cms-toppik-women .bottom_text>div,
 .cms-before-and-afters .bottom_text>div {
  padding:1.25em;
  font-family:'Gotham A','Gotham B';
  font-weight:400;
  text-align:left
 }
 .cms-toppik-men #about .cta_link,
 .cms-toppik-women #about .cta_link,
 .cms-before-and-afters #about .cta_link {
  font-size:.75em;
  line-height:1.6em;
  margin-bottom:1.6em;
  text-decoration:underline;
  text-transform:uppercase;
  color:inherit
 }
 .cms-toppik-men #about,
 .cms-toppik-women #about,
 .cms-before-and-afters #about,
 .cms-toppik-men #tips,
 .cms-toppik-women #tips,
 .cms-before-and-afters #tips {
  box-sizing:content-box
 }
 .cms-toppik-men #about .wrap,
 .cms-toppik-women #about .wrap,
 .cms-before-and-afters #about .wrap,
 .cms-toppik-men #tips .wrap,
 .cms-toppik-women #tips .wrap,
 .cms-before-and-afters #tips .wrap {
  max-width:none
 }
 .cms-toppik-men #about h2,
 .cms-toppik-women #about h2,
 .cms-before-and-afters #about h2,
 .cms-toppik-men #tips h2,
 .cms-toppik-women #tips h2,
 .cms-before-and-afters #tips h2 {
  text-transform:uppercase;
  font-size:1.5em;
  margin-bottom:.67em
 }
 .cms-toppik-men #about p,
 .cms-toppik-women #about p,
 .cms-before-and-afters #about p,
 .cms-toppik-men #tips p,
 .cms-toppik-women #tips p,
 .cms-before-and-afters #tips p,
 .cms-toppik-men #about .cta_link,
 .cms-toppik-women #about .cta_link,
 .cms-before-and-afters #about .cta_link {
  font-size:.75em;
  line-height:1.6em;
  margin-bottom:1.6em
 }
 .cms-toppik-men #cta .wrap,
 .cms-toppik-women #cta .wrap,
 .cms-before-and-afters #cta .wrap {
  max-width:277px;
  margin:auto
 }
 .cms-toppik-men #cta .shop_now,
 .cms-toppik-women #cta .shop_now,
 .cms-before-and-afters #cta .shop_now {
  text-align:center;
  line-height:43px;
  height:43px;
  width:136px;
  margin:auto;
  display:block;
  background:#B5A16A;
  background:-moz-linear-gradient(left, #b5a16a 0%, #fefefe 50%, #b5a16a 100%);
  background:-webkit-gradient(linear, left top, right top, color-stop(0%, #b5a16a), color-stop(50%, #fefefe), color-stop(100%, #b5a16a));
  background:-webkit-linear-gradient(left, #b5a16a 0%, #fefefe 50%, #b5a16a 100%);
  background:-o-linear-gradient(left, #b5a16a 0%, #fefefe 50%, #b5a16a 100%);
  background:-ms-linear-gradient(left, #b5a16a 0%, #fefefe 50%, #b5a16a 100%);
  background:linear-gradient(to right, #b5a16a 0%, #fefefe 50%, #b5a16a 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#B5A16A', endColorstr='#B5A16A', GradientType=1)
 }
 .cms-toppik-men #cta .view_women,
 .cms-toppik-women #cta .view_women,
 .cms-before-and-afters #cta .view_women {
  text-align:center;
  line-height:43px;
  background-image:url('../images/cms/335e8564.mobile_sprite_cta_buttons.png');
  height:43px;
  width:136px;
  margin:auto;
  display:block;
  margin-top:1em;
  background:#B5A16A;
  background:-moz-linear-gradient(left, #b5a16a 0%, #fefefe 50%, #b5a16a 100%);
  background:-webkit-gradient(linear, left top, right top, color-stop(0%, #b5a16a), color-stop(50%, #fefefe), color-stop(100%, #b5a16a));
  background:-webkit-linear-gradient(left, #b5a16a 0%, #fefefe 50%, #b5a16a 100%);
  background:-o-linear-gradient(left, #b5a16a 0%, #fefefe 50%, #b5a16a 100%);
  background:-ms-linear-gradient(left, #b5a16a 0%, #fefefe 50%, #b5a16a 100%);
  background:linear-gradient(to right, #b5a16a 0%, #fefefe 50%, #b5a16a 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#B5A16A', endColorstr='#B5A16A', GradientType=1)
 }
 .cms-toppik-men #application,
 .cms-toppik-women #application,
 .cms-before-and-afters #application {
  padding:1em 0;
  margin-left:-15px;
  margin-right:-15px
 }
 .cms-toppik-men #application .button,
 .cms-toppik-women #application .button,
 .cms-before-and-afters #application .button {
  font-size:.75em;
  text-decoration:none;
  text-align:center;
  display:inline-block;
  line-height:1.6em
 }
 .cms-toppik-men #application .buttons,
 .cms-toppik-women #application .buttons,
 .cms-before-and-afters #application .buttons {
  max-width:480px;
  margin:1em auto;
  text-align:center;
  box-sizing:content-box
 }
 .cms-toppik-men #application .buttons .button,
 .cms-toppik-women #application .buttons .button,
 .cms-before-and-afters #application .buttons .button {
  width:32%;
  box-shadow:none;
  margin-bottom:5px
 }
 .cms-toppik-men #application .buttons .button strong,
 .cms-toppik-women #application .buttons .button strong,
 .cms-before-and-afters #application .buttons .button strong {
  font-family:'Gotham A','Gotham B';
  font-weight:700
 }
 .cms-toppik-men #application .buttons .button .application_button,
 .cms-toppik-women #application .buttons .button .application_button,
 .cms-before-and-afters #application .buttons .button .application_button {
  padding:1em;
  font-family:'Gotham A','Gotham B';
  font-weight:400;
  display:inline-block;
  box-sizing:content-box;
  text-transform:none
 }
 .cms-toppik-men #application .wrap,
 .cms-toppik-women #application .wrap,
 .cms-before-and-afters #application .wrap {
  max-width:none
 }
 .cms-toppik-men #application .video,
 .cms-toppik-women #application .video,
 .cms-before-and-afters #application .video {
  background-image:url('../images/cms/96daacf1.mobile_men_application.png');
  background-position:center center;
  height:200px;
  margin:auto;
  background-color:#000;
  background-repeat:no-repeat;
  background-size:cover
 }
 .cms-toppik-men #application .video .play,
 .cms-toppik-women #application .video .play,
 .cms-before-and-afters #application .video .play {
  display:block;
  background-image:url('../images/cms/10ef083b.mobile_application_video_play.png');
  width:57px;
  height:57px;
  margin:auto;
  top:40%;
  position:relative;
  cursor:pointer
 }
 .cms-toppik-men #application .video-ahmed,
 .cms-toppik-women #application .video-ahmed,
 .cms-before-and-afters #application .video-ahmed {
  background-image:url('../images/cms/a34a4853.desktop_men_application_ahmed.png') !important
 }
 .cms-toppik-men #instant div .button,
 .cms-toppik-women #instant div .button,
 .cms-before-and-afters #instant div .button {
  font-size:.75em;
  text-decoration:none;
  color:inherit;
  text-align:center;
  display:inline-block;
  line-height:1.6em;
  background:transparent;
  box-shadow:none;
  text-transform:none;
  font-weight:normal;
  text-shadow:none;
  white-space:normal
 }
 .cms-toppik-men #instant div .button strong,
 .cms-toppik-women #instant div .button strong,
 .cms-before-and-afters #instant div .button strong {
  font-family:'Gotham A','Gotham B';
  font-weight:700
 }
 .cms-toppik-men #instant div .image,
 .cms-toppik-women #instant div .image,
 .cms-before-and-afters #instant div .image {
  opacity:1;
  display:inline-block;
  width:115px;
  height:117px;
  background:url('../images/cms/43a56798.mobile_men_jonathan.png');
  margin-bottom:17px;
  cursor:pointer
 }
 .cms-toppik-men #instant div .image-active,
 .cms-toppik-women #instant div .image-active,
 .cms-before-and-afters #instant div .image-active {
  opacity:0.5
 }
 .cms-toppik-men #instant .ahmed .image,
 .cms-toppik-women #instant .ahmed .image,
 .cms-before-and-afters #instant .ahmed .image {
  height:115px;
  background:url('../images/cms/9dcbc83f.mobile_men_ahmed.png')
 }
 @media (min-width:1136px) {
  .cms-toppik-men #instant .wrap,
  .cms-toppik-women #instant .wrap,
  .cms-before-and-afters #instant .wrap {
   max-width:480px
  }
  .cms-toppik-men #instant h2,
  .cms-toppik-women #instant h2,
  .cms-before-and-afters #instant h2 {
   font-size:3em
  }
  .cms-toppik-men #instant h3,
  .cms-toppik-women #instant h3,
  .cms-before-and-afters #instant h3 {
   font-size:2.25em
  }
  .cms-toppik-men #instant .jonathan,
  .cms-toppik-women #instant .jonathan,
  .cms-before-and-afters #instant .jonathan {
   padding-left:3em
  }
  .cms-toppik-men #about p,
  .cms-toppik-women #about p,
  .cms-before-and-afters #about p,
  .cms-toppik-men #tips p,
  .cms-toppik-women #tips p,
  .cms-before-and-afters #tips p {
   font-size:1.125em
  }
 }
 @media (min-width:540px) {
  .cms-toppik-men #about,
  .cms-toppik-women #about,
  .cms-before-and-afters #about,
  .cms-toppik-men #tips,
  .cms-toppik-women #tips,
  .cms-before-and-afters #tips {
   max-width:480px;
   margin:auto
  }
  .cms-toppik-men #application .video,
  .cms-toppik-women #application .video,
  .cms-before-and-afters #application .video {
   height:264px;
   background-image:url('../images/cms/14f1905a.desktop_men_application.png');
   background-size:contain
  }
  .cms-toppik-men #application .buttons,
  .cms-toppik-women #application .buttons,
  .cms-before-and-afters #application .buttons {
   max-width:330px;
   padding-bottom:1em;
   border-bottom:1px solid #ccc;
   padding:0 5em 1em
  }
 }
 @media (min-width:768px) {
  .cms-toppik-men .bottom_text,
  .cms-toppik-women .bottom_text,
  .cms-before-and-afters .bottom_text {
   max-width:768px;
   margin:auto
  }
  .cms-toppik-men #about,
  .cms-toppik-women #about,
  .cms-before-and-afters #about,
  .cms-toppik-men #tips,
  .cms-toppik-women #tips,
  .cms-before-and-afters #tips {
   max-width:44%;
   display:inline-block;
   vertical-align:top
  }
  .cms-toppik-men #about .cta_link,
  .cms-toppik-women #about .cta_link,
  .cms-before-and-afters #about .cta_link {
   font-size:1.125em
  }
  .cms-toppik-men #cta .shop_now,
  .cms-toppik-women #cta .shop_now,
  .cms-before-and-afters #cta .shop_now {
   display:inline-block
  }
  .cms-toppik-men #cta .view_women,
  .cms-toppik-women #cta .view_women,
  .cms-before-and-afters #cta .view_women {
   display:inline-block
  }
  .cms-toppik-men #application .buttons,
  .cms-toppik-women #application .buttons,
  .cms-before-and-afters #application .buttons {
   max-width:390px;
   padding-bottom:1em;
   border-bottom:1px solid #ccc;
   padding:0 10em 1em
  }
 }
 @media (min-width:1024px) {
  .cms-toppik-men .bottom_text,
  .cms-toppik-women .bottom_text,
  .cms-before-and-afters .bottom_text {
   max-width:1024px
  }
  .cms-toppik-men .bottom_text>div,
  .cms-toppik-women .bottom_text>div,
  .cms-before-and-afters .bottom_text>div {
   padding:1.875em
  }
  .cms-toppik-men #about,
  .cms-toppik-women #about,
  .cms-before-and-afters #about,
  .cms-toppik-men #tips,
  .cms-toppik-women #tips,
  .cms-before-and-afters #tips {
   max-width:43%
  }
  .cms-toppik-men #application .video,
  .cms-toppik-women #application .video,
  .cms-before-and-afters #application .video {
   height:345px
  }
  .cms-toppik-men #application .buttons,
  .cms-toppik-women #application .buttons,
  .cms-before-and-afters #application .buttons {
   max-width:672px
  }
 }
 @media (min-width:1136px) {
  .cms-toppik-men .bottom_text,
  .cms-toppik-women .bottom_text,
  .cms-before-and-afters .bottom_text {
   max-width:1152px;
   margin:auto
  }
  .cms-toppik-men #about,
  .cms-toppik-women #about,
  .cms-before-and-afters #about,
  .cms-toppik-men #tips,
  .cms-toppik-women #tips,
  .cms-before-and-afters #tips {
   max-width:45%
  }
  .cms-toppik-men #tips,
  .cms-toppik-women #tips,
  .cms-before-and-afters #tips {
   padding-right:0
  }
  .cms-toppik-men #application .video,
  .cms-toppik-women #application .video,
  .cms-before-and-afters #application .video {
   height:400px
  }
  .cms-toppik-men #application .buttons,
  .cms-toppik-women #application .buttons,
  .cms-before-and-afters #application .buttons {
   padding:0 16em 1em;
   max-width:600px
  }
 }
 .cms-before-and-afters #cta .wrap {
  max-width:418px
 }
 .cms-before-and-afters .hash-btns:first-child {
  margin-bottom:10px
 }
 @media (max-width:991px) {
  .cms-before-and-afters .button,
  .cms-technology .button,
  .cms-before-and-afters .cart-table .button,
  .cms-technology .cart-table .button,
  .cms-before-and-afters .button:active,
  .cms-technology .button:active,
  .cms-before-and-afters .button:focus,
  .cms-technology .button:focus,
  .cms-before-and-afters .button:hover,
  .cms-technology .button:hover,
  .cms-before-and-afters .button:disabled,
  .cms-technology .button:disabled {
   border-radius:0;
   box-shadow:none;
   background-color:#000
  }
 }
 .page-switch {
  display:none
 }
 .page-switch-active {
  display:block
 }
 .cms-toppik-women #application .video[data-model=melina],
 .cms-before-and-afters #application .video[data-model=melina] {
  background-image:url('../images/cms/67063790.desktop_women_application.png');
  background-size:contain
 }
 .cms-toppik-women #application .video[data-model=andrea],
 .cms-before-and-afters #application .video[data-model=andrea] {
  background-image:url('../images/cms/8f2e869b.desktop_women_application_andrea.png')
 }
 .cms-toppik-women #application .video[data-model=zoe],
 .cms-before-and-afters #application .video[data-model=zoe] {
  background-image:url('../images/cms/77247473.desktop_women_application_zoe.png')
 }
 .cms-toppik-women #application .video[data-model=noellie],
 .cms-before-and-afters #application .video[data-model=noellie] {
  background-image:url('../images/cms/e15e1660.desktop_women_application_noellie.png')
 }
 .cms-toppik-women #cta .view_men,
 .cms-before-and-afters #cta .view_men {
  text-align:center;
  line-height:43px;
  height:43px;
  width:136px;
  margin:auto;
  display:block;
  background:-moz-linear-gradient(left, #b5a16a 0%, #fefefe 50%, #b5a16a 100%);
  background:-webkit-gradient(linear, left top, right top, color-stop(0%, #b5a16a), color-stop(50%, #fefefe), color-stop(100%, #b5a16a));
  background:-webkit-linear-gradient(left, #b5a16a 0%, #fefefe 50%, #b5a16a 100%);
  background:-o-linear-gradient(left, #b5a16a 0%, #fefefe 50%, #b5a16a 100%);
  background:-ms-linear-gradient(left, #b5a16a 0%, #fefefe 50%, #b5a16a 100%);
  background:linear-gradient(to right, #b5a16a 0%, #fefefe 50%, #b5a16a 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#B5A16A', endColorstr='#B5A16A', GradientType=1)
 }
 .cms-toppik-women #cta .view_men,
 .cms-before-and-afters #cta .view_men {
  display:inline-block
 }
 .cms-toppik-women #instant .wrap,
 .cms-before-and-afters #instant .wrap {
  max-width:380px;
  margin:auto
 }
 .cms-toppik-women #instant .wrap>div,
 .cms-before-and-afters #instant .wrap>div {
  width:48.9%;
  text-align:center;
  display:inline-block;
  margin-bottom:23px;
  vertical-align:top
 }
 .cms-toppik-women #instant>.wrap>div>.wrap,
 .cms-before-and-afters #instant>.wrap>div>.wrap {
  width:120px;
  display:inline-block
 }
 .cms-toppik-women #instant div .image,
 .cms-before-and-afters #instant div .image {
  display:inline-block;
  width:115px;
  height:117px;
  background:url('../images/cms/43a56798.mobile_men_jonathan.png');
  margin-bottom:17px;
  cursor:pointer
 }
 .cms-toppik-women #instant .melina .image,
 .cms-before-and-afters #instant .melina .image {
  height:115px;
  background:url('../images/cms/9a6ba2c7.mobile_women_melina.png')
 }
 .cms-toppik-women #instant .andrea .image,
 .cms-before-and-afters #instant .andrea .image {
  height:115px;
  background:url('../images/cms/06d84135.mobile_women_andrea.png')
 }
 .cms-toppik-women #instant .zoe .image,
 .cms-before-and-afters #instant .zoe .image {
  height:115px;
  background:url('../images/cms/77d022c3.mobile_women_zoe.png')
 }
 .cms-toppik-women #instant .noellie .image,
 .cms-before-and-afters #instant .noellie .image {
  height:115px;
  background:url('../images/cms/1fdd1fd2.mobile_women_noellie.png')
 }
 @media (min-width:1136px) {
  .cms-toppik-women #instant .wrap,
  .cms-before-and-afters #instant .wrap {
   max-width:480px
  }
 }
 @media (min-width:768px) {
  .cms-toppik-women #instant .wrap,
  .cms-before-and-afters #instant .wrap {
   max-width:768px
  }
  .cms-toppik-women #instant>.wrap>div,
  .cms-before-and-afters #instant>.wrap>div {
   width:24%;
   padding-left:0;
   padding-right:0
  }
 }
 .cms-before-and-afters #application .buttons .button .application_button {
  padding:0
 }
 .p-cms-new {
  font-size:24px;
  letter-spacing:1px;
  margin:20px 0;
  line-height:30px
 }
 @media (max-width:991px) {
  .p-cms-new {
   font-size:18px;
   margin:15px 0;
   line-height:23px
  }
 }
 .p-cms-new a,
 .p-cms-new u {
  border-bottom:1px solid #333;
  text-decoration:none
 }
 .p-cms-new b,
 .p-cms-new strong {
  font-weight:500
 }
 .h2-cms-new {
  font-weight:300;
  color:#B5A16A;
  font-size:40px;
  line-height:45px
 }
 @media (max-width:991px) {
  .h2-cms-new {
   font-size:30px;
   line-height:34px
  }
 }

.delimiter-horizontal-cms-new {
  line-height:1px;
  height:1px;
  overflow:hidden;
  background-color:#b3a77d;
  margin:30px 0
 }
 @media (max-width:991px) {
  .delimiter-horizontal-cms-new {
   margin:23px 0
  }
 }
 .img-cms-new {
  margin-right:84%;
  height:0;
  padding-bottom:16%;
  position:relative;
  width:16%;
  margin-bottom:10px
 }
 .img-cms-new img {
  max-height:90%;
  max-width:90%;
  display:inline-block;
  vertical-align:middle
 }
 .img-container-cms-new {
  position:absolute;
  width:100%;
  height:100%;
  text-align:left
 }
 .img-space-cms-new {
  display:inline-block;
  height:100%;
  vertical-align:middle
 }
 .p-bold-cms-new {
  font-size:24px;
  letter-spacing:1px;
  margin:20px 0;
  line-height:30px;
  font-weight:500;
  margin:0
 }
 @media (max-width:991px) {
  .p-bold-cms-new {
   font-size:18px;
   margin:15px 0;
   line-height:23px
  }
 }
 .p-bold-cms-new a,
 .p-bold-cms-new u {
  border-bottom:1px solid #333;
  text-decoration:none
 }
 .p-bold-cms-new b,
 .p-bold-cms-new strong {
  font-weight:500
 }
 .p-dbold-cms-new {
  font-size:24px;
  letter-spacing:1px;
  margin:20px 0;
  line-height:30px;
  font-weight:600;
  margin:0
 }
 @media (max-width:991px) {
  .p-dbold-cms-new {
   font-size:18px;
   margin:15px 0;
   line-height:23px
  }
 }
 .p-dbold-cms-new a,
 .p-dbold-cms-new u {
  border-bottom:1px solid #333;
  text-decoration:none
 }
 .p-dbold-cms-new b,
 .p-dbold-cms-new strong {
  font-weight:500
 }
 .p-normal-cms-new {
  font-size:24px;
  letter-spacing:1px;
  margin:20px 0;
  line-height:30px;
  margin:0
 }
 @media (max-width:991px) {
  .p-normal-cms-new {
   font-size:18px;
   margin:15px 0;
   line-height:23px
  }
 }
 .p-normal-cms-new a,
 .p-normal-cms-new u {
  border-bottom:1px solid #333;
  text-decoration:none
 }
 .p-normal-cms-new b,
 .p-normal-cms-new strong {
  font-weight:500
 }
 .p-italic-cms-new {
  font-size:24px;
  letter-spacing:1px;
  margin:20px 0;
  line-height:30px;
  margin:0;
  font-style:italic;
  font-size:20px
 }
 @media (max-width:991px) {
  .p-italic-cms-new {
   font-size:18px;
   margin:15px 0;
   line-height:23px
  }
 }
 .p-italic-cms-new a,
 .p-italic-cms-new u {
  border-bottom:1px solid #333;
  text-decoration:none
 }
 .p-italic-cms-new b,
 .p-italic-cms-new strong {
  font-weight:500
 }
 @media (max-width:991px) {
  .p-italic-cms-new {
   font-size:15px
  }
 }
 .btn-cms-new {
  font-size:90% !important;
  padding:9px 40px !important;
  margin-top:20px
 }
 @media (max-width:991px) {
  .btn-cms-new {
   padding:8px 30px !important
  }
 }
 .ul-cms-new {
  font-size:24px;
  letter-spacing:1px;
  margin:20px 0;
  line-height:30px;
  margin:0 !important;
  list-style-position:inside !important;
  padding-left:0 !important
 }
 @media (max-width:991px) {
  .ul-cms-new {
   font-size:18px;
   margin:15px 0;
   line-height:23px
  }
 }
 .ul-cms-new a,
 .ul-cms-new u {
  border-bottom:1px solid #333;
  text-decoration:none
 }
 .ul-cms-new b,
 .ul-cms-new strong {
  font-weight:500
 }
 @media (max-width:991px) {
  .ul-cms-new li {
   padding-top:15px
  }
 }
 @media (max-width:991px) and (max-width:991px) {
  .ul-cms-new li {
   padding-top:12px
  }
 }
 .cms-customer-service>.wrapper>.container {
  width:100%
 }
 .cms-customer-service div[role="main"] {
  margin-bottom:0
 }
 @media (max-width:991px) {
  .mmb {
   margin-bottom:0 !important
  }
  .mmt {
   margin-top:0 !important
  }
 }
 .faqs-page .start-part {
  margin-top:40px
 }
 .faqs-page .heading {
  margin-top:0px;
  width:110px;
  float:left;
  margin-bottom:100px
 }
 .faqs-page .productslist ul {
  list-style:none;
  margin:0;
  padding:0;
  margin-left:170px;
  padding-top:10px
 }
 .faqs-page .productslist ul li {
  float:left;
  margin-left:20px;
  font-size:21px;
  padding-bottom:4px
 }
 .faqs-page .productslist ul li a {
  color:#000;
  text-decoration:none;
  padding-right:4px;
  text-transform:uppercase;
  padding:10px
 }
 .faqs-page .productslist ul li a:hover {
  background:#E9E9E9
 }
 .faqs-page .ToppikQA {
  margin-bottom:20px
 }
 .faqs-page .CouvreQA {
  margin-bottom:80px
 }
 .faqs-page .mainhead {
  margin-bottom:20px
 }
 .faqs-page .mainhead .title {
  background:white;
  position:relative;
  top:-8px;
  width:190px;
  text-transform:uppercase;
  font-size:21px
 }
 .faqs-page .Block {
  clear:both;
  margin-top:40px
 }
 .faqs-page .Block .Question .statement {
  float:left;
  text-transform:uppercase;
  font-size:21px
 }
 .faqs-page .Block .Question .opener {
  float:left;
  margin-left:15px;
  cursor:pointer;
  letter-spacing:2px;
  font-size:21px;
  position:relative;
  top:-2px
 }
 .faqs-page .Block .Answer {
  margin-top:8px;
  font-size:18px;
  text-align:justify;
  display:none
 }
 .faqs-page .Block .Answer ul {
  margin:0;
  padding:0;
  margin-left:45px;
  margin-top:5px;
  margin-bottom:5px
 }
 .faqs-page .ToppikQA {
  clear:both;
  margin-bottom:80px
 }
 .cms-press ul,
 .cms-press li {
  list-style:none
 }
 .cms-press .press-page a {
  text-decoration:underline
 }
 .cms-press #banner-fade {
  margin-top:15px
 }
 .cms-press #banner-fade ul {
  padding-left:0 !important
 }
 .cms-press .press-page-links ul {
  padding-left:0 !important
 }
 .cms-press .press-page-links ul li {
  float:right
 }
 .cms-press .press-page-links ul::after {
  content:' ';
  clear:both;
  width:100%;
  display:block;
  height:10px
 }
 .cms-press .news {
  margin-bottom:30px;
  border-bottom:1px solid #c5c5c5;
  padding-bottom:30px
 }
 .cms-press .news .leftcol {
  width:150px;
  float:left;
  margin-right:-180px
 }
 .cms-press .news .rightcol {
  float:left;
  margin-left:180px
 }
 .cms-press .news .news-title {
  font-family:'Gotham A','Gotham B';
  font-weight:700;
  text-transform:uppercase
 }
 .cms-press .news .news-image {
  padding-top:10px;
  display:inline-block
 }
 .cms-press .news .news-image-subtitle {
  display:inline-block;
  font-family:'Gotham A','Gotham B';
  font-weight:700;
  padding-left:5px
 }
 .cms-press .news::after {
  content:' ';
  width:100%;
  height:0;
  display:block;
  clear:both
 }
 .cms-press .news-image img {
  border:1px solid #000
 }
 @media (max-width:768px) {
  .cms-press .news .leftcol,
  .cms-press .news .rightcol {
   float:none;
   margin:0;
   width:100%
  }
  .cms-press .news .rightcol {
   margin-top:15px;
   word-break:break-all
  }
  .cms-press .news .news-image-subtitle {
   padding-left:0;
   padding-top:15px
  }
 }
 .cms-offers>.page-wrapper,
 .cms-offers-style>.page-wrapper {
  background-color:#000
 }
 .cms-offers div.mage-error[generated],
 .cms-offers-style div.mage-error[generated] {
  font-size:12px
 }
 .cms-offers .row-offers-top,
 .cms-offers-style .row-offers-top {
  border-bottom:4px solid #fff;
  background-image:url(../images/cms/offers/image00.png);
  background-repeat:no-repeat;
  background-position:100% 100%;
  background-size:40% auto;
  padding-bottom:40px;
  margin-left:15px;
  margin-right:15px
 }
 @media screen and (max-width:768px) {
  .cms-offers .row-offers-top,
  .cms-offers-style .row-offers-top {
   background-image:none
  }
 }
 .cms-offers .row-offers-top .row-offers-top-left,
 .cms-offers-style .row-offers-top .row-offers-top-left,
 .cms-offers .row-offers-top .row-offers-top-right,
 .cms-offers-style .row-offers-top .row-offers-top-right {
  padding-left:0;
  padding-bottom:0
 }
 .cms-offers .row-offers-top h1,
 .cms-offers-style .row-offers-top h1 {
  color:#f7f7f7;
  font-size:330%;
  font-weight:normal;
  font-family:'Gotham A','Gotham B';
  font-weight:300;
  line-height:120%;
  padding-top:0px
 }
 @media screen and (max-width:490px) {
  .cms-offers .row-offers-top h1,
  .cms-offers-style .row-offers-top h1 {
   font-size:230%
  }
 }
 .cms-offers p.text-offers-top,
 .cms-offers-style p.text-offers-top {
  color:#c0c0c0;
  font-size:147%
 }
 @media screen and (max-width:490px) {
  .cms-offers p.text-offers-top,
  .cms-offers-style p.text-offers-top {
   font-size:120%
  }
 }
 .cms-offers form#newsletter-validate-detail,
 .cms-offers-style form#newsletter-validate-detail,
 .cms-offers #offers-newsletter-validate-detail,
 .cms-offers-style #offers-newsletter-validate-detail {
  position:relative
 }
 .cms-offers input#submit,
 .cms-offers-style input#submit {
  height:43px;
  box-shadow:none;
  border:0;
  position:absolute;
  right:0;
  top:-5px;
  margin-left:3px;
  font-size:110%
 }
 @media screen and (max-width:490px) {
  .cms-offers input#submit,
  .cms-offers-style input#submit {
   width:100%;
   position:relative;
   margin:10px auto
  }
 }
 .cms-offers #special-offers input#newsletter.validation-failed,
 .cms-offers-style #special-offers input#newsletter.validation-failed {
  background-color:transparent;
  border:1px solid #948c5b !important;
  color:#FFF;
  width:99%;
  height:43px;
  line-height:43px;
  box-shadow:none !important
 }
 .cms-offers #special-offers input#newsletter,
 .cms-offers-style #special-offers input#newsletter {
  width:75%;
  min-width:230px
 }
 @media screen and (max-width:490px) {
  .cms-offers #special-offers input#newsletter,
  .cms-offers-style #special-offers input#newsletter {
   width:100%
  }
 }
 .cms-offers .offer-top-image,
 .cms-offers-style .offer-top-image {
  width:100%
 }
 .cms-offers .row-offers-top-left,
 .cms-offers-style .row-offers-top-left {
  padding-left:0;
  padding-right:0
 }
 .cms-offers .row-offers-bottom,
 .cms-offers-style .row-offers-bottom {
  margin-left:15px;
  margin-right:15px
 }
 .cms-offers .row-offers-bottom>.col,
 .cms-offers-style .row-offers-bottom>.col {
  padding-left:0;
  padding-right:0
 }
 .cms-offers .row-offers-bottom>.left-col,
 .cms-offers-style .row-offers-bottom>.left-col {
  padding-right:9%
 }
 @media screen and (max-width:992px) {
  .cms-offers .row-offers-bottom>.left-col,
  .cms-offers-style .row-offers-bottom>.left-col {
   padding-right:0
  }
 }
 .cms-offers .row-offers-bottom>.right-col,
 .cms-offers-style .row-offers-bottom>.right-col {
  padding-left:9%;
  border-left:1px solid #fff
 }
 @media screen and (max-width:992px) {
  .cms-offers .row-offers-bottom>.right-col,
  .cms-offers-style .row-offers-bottom>.right-col {
   padding-left:0;
   border-left:none
  }
 }
 .cms-offers .row-offers-bottom img,
 .cms-offers-style .row-offers-bottom img {
  width:100%
 }
 .cms-offers .row-offers-bottom img.auto-width,
 .cms-offers-style .row-offers-bottom img.auto-width {
  width:auto;
  float:right
 }
 @media screen and (max-width:490px) {
  .cms-offers .row-offers-bottom img.auto-width,
  .cms-offers-style .row-offers-bottom img.auto-width {
   max-width:30%
  }
 }
 .cms-offers .row-offers-bottom p,
 .cms-offers-style .row-offers-bottom p {
  color:#e0e0e0;
  font-size:120%
 }
 .cms-offers .row-offers-bottom p b,
 .cms-offers-style .row-offers-bottom p b,
 .cms-offers .row-offers-bottom p strong,
 .cms-offers-style .row-offers-bottom p strong {
  color:#FFF
 }
 .cms-offers .row-offers-bottom p.small,
 .cms-offers-style .row-offers-bottom p.small {
  font-size:80%;
  padding-top:15px;
  padding-left:5%;
  padding-right:5%;
  text-indent:-5px
 }
 .cms-offers .row-offers-bottom p.small a,
 .cms-offers-style .row-offers-bottom p.small a {
  color:#FFF;
  font-weight:bold;
  border-bottom:1px solid #5d5d5d
 }
 .cms-offers h2,
 .cms-offers-style h2 {
  margin-left:15px;
  margin-right:15px;
  color:#f7f7f7;
  font-size:200%;
  font-weight:normal;
  font-family:'Gotham A','Gotham B';
  font-weight:300;
  line-height:120%;
  padding-top:0px;
  text-align:center;
  margin-bottom:50px
 }
 @media screen and (max-width:490px) {
  .cms-offers h2,
  .cms-offers-style h2 {
   font-size:150%
  }
 }
 .cms-offers h3,
 .cms-offers-style h3 {
  color:#FFF;
  font-size:200%;
  font-weight:bold;
  font-family:'Gotham A','Gotham B';
  font-weight:400;
  line-height:120%;
  padding-top:0px;
  text-align:left;
  margin-top:-4px
 }
 @media screen and (max-width:490px) {
  .cms-offers h3,
  .cms-offers-style h3 {
   font-size:150%
  }
 }
 .cms-offers h3 i,
 .cms-offers-style h3 i,
 .cms-offers h3 em,
 .cms-offers-style h3 em {
  font-style:normal;
  color:#cacaca;
  font-weight:normal
 }
 .cms-offers .offers-shop-now,
 .cms-offers-style .offers-shop-now {
  width:121px;
  height:26px;
  background-image:url(../images/cms/offers/shop-now.png);
  background-repeat:no-repeat;
  background-position:50% 50%;
  display:inline-block;
  margin-top:15px;
  margin-bottom:15px
 }
 .cms-offers .delimiter,
 .cms-offers-style .delimiter {
  width:70%;
  border-top:1px solid #fff;
  margin-top:20px;
  margin-bottom:20px;
  margin-left:auto;
  margin-right:auto
 }
 .cms-offers a.button,
 .cms-offers-style a.button,
 .cms-technology a.button,
 .cms-before-and-afters a.button {
  display:inline-block;
  color:#fff;
  text-align:center
 }
 .cms-offers a.button:hover,
 .cms-offers-style a.button:hover,
 .cms-technology a.button:hover,
 .cms-before-and-afters a.button:hover {
  text-decoration:none;
  color:#fff
 }
 .cms-technology>.page-wrapper .page-main {
  max-width:100%;
  padding-right:0;
  padding-left:0
 }
 .cms-technology>.page-wrapper .column.main {
  padding-bottom:0
 }
 .cms-technology>.page-wrapper .columns {
  display:block
 }
 .cms-technology>.page-wrapper .button-faqs {
  background-color:#000;
  box-shadow:0px 3px 0px #6e6e6e;
  padding-left:30px;
  padding-right:30px
 }
 .cms-technology>.page-wrapper .button-science {
  padding-left:20px;
  padding-right:50px;
  background-position:92% 46%
 }
 .cms-technology>.page-wrapper .layout.layout-1-col div[role="main"] {
  margin-bottom:0
 }
 .cms-technology>.page-wrapper>.container {
  width:100%;
  padding-left:0;
  padding-right:0
 }
 .cms-technology>.page-wrapper .technology-section2 .col-right-section2 .videolink {
  margin-top:20px
 }
 .cms-technology>.page-wrapper .technology-section2 {
  min-width:initial
 }
 .cms-technology>.page-wrapper .technology-section2 .col-right-section2 {
  float:right;
  width:50%;
  padding-right:15px;
  padding-left:15px
 }
 .cms-technology>.page-wrapper .technology-section2 .col-right-section2 .text {
  text-align:left
 }
 .cms-technology>.page-wrapper .technology-section2 .col-left-section2 {
  box-sizing:border-box;
  padding-left:10%;
  width:50%;
  height:auto
 }
 .cms-technology>.page-wrapper .technology-section2 .col-left-section2 .text1,
 .cms-technology>.page-wrapper .technology-section2 .col-left-section2 .text2 {
  width:200px;
  font-weight:normal;
  font-size:22px
 }
 .cms-technology>.page-wrapper .technology-section2 .col-left-section2 .image1 {
  margin-top:55px
 }
 .cms-technology>.page-wrapper .technology-section2 .col-left-section2 .text1 {
  margin-top:120px
 }
 .cms-technology>.page-wrapper .technology-section1 {
  background:#000;
  min-height:350px;
  height:475px;
  width:100%
 }
 .cms-technology>.page-wrapper .technology-section1 .image-section1 {
  min-width:950px;
  min-height:450px;
  margin-right:20px;
  float:right;
  background:url('../images/cms/technology/section1image.jpg') 0px 0px;
  background-size:auto 100%;
  float:none;
  margin:auto;
  width:100%;
  min-width:initial;
  background-position:50% 0;
  background-repeat:no-repeat
 }
 .cms-technology>.page-wrapper .technology-section1 .text-section1 {
  clear:both;
  width:100%;
  min-height:350px;
  line-height:295px;
  text-align:center;
  position:relative;
  z-index:500;
  top:-210px;
  font-size:54px;
  font-family:'Gotham A','Gotham B';
  font-weight:400;
  letter-spacing:2px;
  color:#fff
 }
 .cms-technology>.page-wrapper .technology-section3 {
  background:#f0f0f0;
  height:auto;
  min-height:initial
 }
 .cms-technology>.page-wrapper .technology-section3 .wrapper-section3 {
  min-width:initial;
  height:auto;
  min-height:initial
 }
 .cms-technology>.page-wrapper .technology-section3 .col-left-section3 {
  color:#000;
  min-width:initial;
  width:76%;
  height:auto;
  min-height:initial
 }
 .cms-technology>.page-wrapper .technology-section3 .col-left-section3 .links {
  margin:0;
  margin-top:15px
 }
 .cms-technology>.page-wrapper .technology-section3 .col-left-section3 .links .link {
  margin-left:0;
  margin-right:20px
 }
 .cms-technology>.page-wrapper .technology-section3 .col-left-section3 .links .faqlink {
  margin-right:0
 }
 .cms-technology>.page-wrapper .technology-section3 .col-left-section3 .heading {
  font-family:'Gotham A','Gotham B';
  font-weight:400;
  font-size:30px;
  margin-bottom:25px
 }
 .cms-technology>.page-wrapper .technology-section3 .col-left-section3 .text .para {
  font-size:90%;
  text-align:left
 }
 .cms-technology>.page-wrapper .technology-section3 .image-section3 {
  background-image:url(../images/cms/technology/technology-04-desktop-27.png);
  width:164px;
  height:524px;
  min-width:initial;
  min-height:initial
 }
 .cms-technology>.page-wrapper .technology-section2 .col-right-section2 .heading {
  font-family:'Gotham A','Gotham B';
  font-weight:400;
  font-size:32px;
  margin-bottom:20px
 }
 @media (max-width:1024px) {
  .cms-technology>.page-wrapper .technology-section3 .col-left-section3 {
   width:66%
  }
  .cms-technology>.page-wrapper .technology-section2 .col-right-section2 .heading {
   font-size:28px
  }
  .cms-technology>.page-wrapper .technology-section2 .col-right-section2 .text {
   font-size:16px
  }
  .cms-technology>.page-wrapper .technology-section2 .col-left-section2 .image1 {
   margin-top:75px
  }
  .cms-technology>.page-wrapper .technology-section2 .col-left-section2 .image2 {
   margin-top:30px
  }
  .cms-technology>.page-wrapper .technology-section2 .col-left-section2 .image1,
  .cms-technology>.page-wrapper .technology-section2 .col-left-section2 .image2 {
   width:40%
  }
  .cms-technology>.page-wrapper .technology-section2 .col-left-section2 .image1 img,
  .cms-technology>.page-wrapper .technology-section2 .col-left-section2 .image2 img {
   width:100%
  }
  .cms-technology>.page-wrapper .technology-section2 .col-left-section2 .text1,
  .cms-technology>.page-wrapper .technology-section2 .col-left-section2 .text2 {
   font-size:15px;
   width:150px
  }
 }
 @media (max-width:991px) {
  .cms-technology>.page-wrapper .button-faqs {
   box-shadow:none
  }
 }
 @media (max-width:768px) {
  .cms-technology>.page-wrapper .technology-section1 {
   height:300px
  }
  .cms-technology>.page-wrapper .technology-section1 .text-section1 {
   font-size:50px;
   top:-300px
  }
  .cms-technology>.page-wrapper .technology-section1 .image-section1 {
   background-size:100% auto
  }
  .cms-technology>.page-wrapper .technology-section2 .col-right-section2 .heading {
   font-size:28px
  }
  .cms-technology>.page-wrapper .technology-section2 .col-right-section2 .text {
   font-size:16px
  }
  .cms-technology>.page-wrapper .technology-section2 .col-left-section2 .image1 {
   margin-top:75px
  }
  .cms-technology>.page-wrapper .technology-section2 .col-left-section2 .image2 {
   margin-top:30px
  }
  .cms-technology>.page-wrapper .technology-section2 .col-left-section2 .image1,
  .cms-technology>.page-wrapper .technology-section2 .col-left-section2 .image2 {
   width:40%
  }
  .cms-technology>.page-wrapper .technology-section2 .col-left-section2 .image1 img,
  .cms-technology>.page-wrapper .technology-section2 .col-left-section2 .image2 img {
   width:100%
  }
  .cms-technology>.page-wrapper .technology-section2 .col-left-section2 .text1,
  .cms-technology>.page-wrapper .technology-section2 .col-left-section2 .text2 {
   font-size:15px;
   width:150px
  }
 }
 @media (max-width:720px) {
  .cms-technology>.page-wrapper .technology-section3 .image-section3 {
   display:none
  }
  .cms-technology>.page-wrapper .technology-section3 .col-left-section3 {
   width:100%
  }
  .cms-technology>.page-wrapper .technology-section3 {
   padding-bottom:0
  }
  .cms-technology>.page-wrapper .technology-section3 .col-left-section3 .heading {
   padding-top:30px
  }
 }
 @media (max-width:540px) {
  .cms-technology>.page-wrapper .technology-section2 {
   padding-bottom:20px
  }
  .cms-technology>.page-wrapper .technology-section2 .col-left-section2,
  .cms-technology>.page-wrapper .technology-section2 .col-right-section2 {
   width:100%
  }
  .cms-technology>.page-wrapper .technology-section2 .col-left-section2 .image1 {
   margin-top:45px
  }
  .cms-technology>.page-wrapper .technology-section2 .col-left-section2 .text1 {
   margin-top:78px
  }
  .cms-technology>.page-wrapper .technology-section1 {
   height:380px;
   min-height:initial
  }
  .cms-technology>.page-wrapper .technology-section1 .text-section1 {
   font-size:35px;
   top:-290px
  }
  .cms-technology>.page-wrapper .technology-section1 .image-section1 {
   background-size:auto 82%
  }
 }

.visible-inline-xs,
tr.visible-inline-xs,
th.visible-inline-xs,
td.visible-inline-xs {
 display:none !important
}
@media (max-width:767px) {
 .visible-inline-xs {
  display:inline !important
 }
 tr.visible-inline-xs {
  display:table-row !important
 }
 th.visible-inline-xs,
 td.visible-inline-xs {
  display:table-cell !important
 }
}
@media (min-width:768px) and (max-width:991px) {
 .visible-inline-xs.visible-inline-sm {
  display:inline !important
 }
 tr.visible-inline-xs.visible-inline-sm {
  display:table-row !important
 }
 th.visible-inline-xs.visible-inline-sm,
 td.visible-inline-xs.visible-inline-sm {
  display:table-cell !important
 }
}
@media (min-width:992px) and (max-width:1199px) {
 .visible-inline-xs.visible-inline-md {
  display:inline !important
 }
 tr.visible-inline-xs.visible-inline-md {
  display:table-row !important
 }
 th.visible-inline-xs.visible-inline-md,
 td.visible-inline-xs.visible-inline-md {
  display:table-cell !important
 }
}
@media (min-width:1200px) {
 .visible-inline-xs.visible-inline-lg {
  display:inline !important
 }
 tr.visible-inline-xs.visible-inline-lg {
  display:table-row !important
 }
 th.visible-inline-xs.visible-inline-lg,
 td.visible-inline-xs.visible-inline-lg {
  display:table-cell !important
 }
}
.visible-inline-sm,
tr.visible-inline-sm,
th.visible-inline-sm,
td.visible-inline-sm {
 display:none !important
}
@media (max-width:767px) {
 .visible-inline-sm.visible-inline-xs {
  display:inline !important
 }
 tr.visible-inline-sm.visible-inline-xs {
  display:table-row !important
 }
 th.visible-inline-sm.visible-inline-xs,
 td.visible-inline-sm.visible-inline-xs {
  display:table-cell !important
 }
}
@media (min-width:768px) and (max-width:991px) {
 .visible-inline-sm {
  display:inline !important
 }
 tr.visible-inline-sm {
  display:table-row !important
 }
 th.visible-inline-sm,
 td.visible-inline-sm {
  display:table-cell !important
 }
}
@media (min-width:992px) and (max-width:1199px) {
 .visible-inline-sm.visible-inline-md {
  display:inline !important
 }
 tr.visible-inline-sm.visible-inline-md {
  display:table-row !important
 }
 th.visible-inline-sm.visible-inline-md,
 td.visible-inline-sm.visible-inline-md {
  display:table-cell !important
 }
}
@media (min-width:1200px) {
 .visible-inline-sm.visible-inline-lg {
  display:inline !important
 }
 tr.visible-inline-sm.visible-inline-lg {
  display:table-row !important
 }
 th.visible-inline-sm.visible-inline-lg,
 td.visible-inline-sm.visible-inline-lg {
  display:table-cell !important
 }
}
.visible-inline-md,
tr.visible-inline-md,
th.visible-inline-md,
td.visible-inline-md {
 display:none !important
}
@media (max-width:767px) {
 .visible-inline-md.visible-inline-xs {
  display:inline !important
 }
 tr.visible-inline-md.visible-inline-xs {
  display:table-row !important
 }
 th.visible-inline-md.visible-inline-xs,
 td.visible-inline-md.visible-inline-xs {
  display:table-cell !important
 }
}
@media (min-width:768px) and (max-width:991px) {
 .visible-inline-md.visible-inline-sm {
  display:inline !important
 }
 tr.visible-inline-md.visible-inline-sm {
  display:table-row !important
 }
 th.visible-inline-md.visible-inline-sm,
 td.visible-inline-md.visible-inline-sm {
  display:table-cell !important
 }
}
@media (min-width:992px) and (max-width:1199px) {
 .visible-inline-md {
  display:inline !important
 }
 tr.visible-inline-md {
  display:table-row !important
 }
 th.visible-inline-md,
 td.visible-inline-md {
  display:table-cell !important
 }
}
@media (min-width:1200px) {
 .visible-inline-md.visible-inline-lg {
  display:inline !important
 }
 tr.visible-inline-md.visible-inline-lg {
  display:table-row !important
 }
 th.visible-inline-md.visible-inline-lg,
 td.visible-inline-md.visible-inline-lg {
  display:table-cell !important
 }
}
.visible-inline-lg,
tr.visible-inline-lg,
th.visible-inline-lg,
td.visible-inline-lg {
 display:none !important
}
@media (max-width:767px) {
 .visible-inline-lg.visible-inline-xs {
  display:inline !important
 }
 tr.visible-inline-lg.visible-inline-xs {
  display:table-row !important
 }
 th.visible-inline-lg.visible-inline-xs,
 td.visible-inline-lg.visible-inline-xs {
  display:table-cell !important
 }
}
@media (min-width:768px) and (max-width:991px) {
 .visible-inline-lg.visible-inline-sm {
  display:inline !important
 }
 tr.visible-inline-lg.visible-inline-sm {
  display:table-row !important
 }
 th.visible-inline-lg.visible-inline-sm,
 td.visible-inline-lg.visible-inline-sm {
  display:table-cell !important
 }
}
@media (min-width:992px) and (max-width:1199px) {
 .visible-inline-lg.visible-inline-md {
  display:inline !important
 }
 tr.visible-inline-lg.visible-inline-md {
  display:table-row !important
 }
 th.visible-inline-lg.visible-inline-md,
 td.visible-inline-lg.visible-inline-md {
  display:table-cell !important
 }
}
@media (min-width:1200px) {
 .visible-inline-lg {
  display:inline !important
 }
 tr.visible-inline-lg {
  display:table-row !important
 }
 th.visible-inline-lg,
 td.visible-inline-lg {
  display:table-cell !important
 }
}
.hidden-inline-xs {
 display:inline !important
}
tr.hidden-inline-xs {
 display:table-row !important
}
th.hidden-inline-xs,
td.hidden-inline-xs {
 display:table-cell !important
}
@media (max-width:767px) {
 .hidden-inline-xs,
 tr.hidden-inline-xs,
 th.hidden-inline-xs,
 td.hidden-inline-xs {
  display:none !important
 }
}
@media (min-width:768px) and (max-width:991px) {
 .hidden-inline-xs.hidden-inline-sm,
 tr.hidden-inline-xs.hidden-inline-sm,
 th.hidden-inline-xs.hidden-inline-sm,
 td.hidden-inline-xs.hidden-inline-sm {
  display:none !important
 }
}
@media (min-width:992px) and (max-width:1199px) {
 .hidden-inline-xs.hidden-inline-md,
 tr.hidden-inline-xs.hidden-inline-md,
 th.hidden-inline-xs.hidden-inline-md,
 td.hidden-inline-xs.hidden-inline-md {
  display:none !important
 }
}
@media (min-width:1200px) {
 .hidden-inline-xs.hidden-inline-lg,
 tr.hidden-inline-xs.hidden-inline-lg,
 th.hidden-inline-xs.hidden-inline-lg,
 td.hidden-inline-xs.hidden-inline-lg {
  display:none !important
 }
}
.hidden-inline-sm {
 display:inline !important
}
tr.hidden-inline-sm {
 display:table-row !important
}
th.hidden-inline-sm,
td.hidden-inline-sm {
 display:table-cell !important
}
@media (max-width:767px) {
 .hidden-inline-sm.hidden-inline-xs,
 tr.hidden-inline-sm.hidden-inline-xs,
 th.hidden-inline-sm.hidden-inline-xs,
 td.hidden-inline-sm.hidden-inline-xs {
  display:none !important
 }
}
@media (min-width:768px) and (max-width:991px) {
 .hidden-inline-sm,
 tr.hidden-inline-sm,
 th.hidden-inline-sm,
 td.hidden-inline-sm {
  display:none !important
 }
}
@media (min-width:992px) and (max-width:1199px) {
 .hidden-inline-sm.hidden-inline-md,
 tr.hidden-inline-sm.hidden-inline-md,
 th.hidden-inline-sm.hidden-inline-md,
 td.hidden-inline-sm.hidden-inline-md {
  display:none !important
 }
}
@media (min-width:1200px) {
 .hidden-inline-sm.hidden-inline-lg,
 tr.hidden-inline-sm.hidden-inline-lg,
 th.hidden-inline-sm.hidden-inline-lg,
 td.hidden-inline-sm.hidden-inline-lg {
  display:none !important
 }
}
.hidden-inline-md {
 display:inline !important
}
tr.hidden-inline-md {
 display:table-row !important
}
th.hidden-inline-md,
td.hidden-inline-md {
 display:table-cell !important
}
@media (max-width:767px) {
 .hidden-inline-md.hidden-inline-xs,
 tr.hidden-inline-md.hidden-inline-xs,
 th.hidden-inline-md.hidden-inline-xs,
 td.hidden-inline-md.hidden-inline-xs {
  display:none !important
 }
}
@media (min-width:768px) and (max-width:991px) {
 .hidden-inline-md.hidden-inline-sm,
 tr.hidden-inline-md.hidden-inline-sm,
 th.hidden-inline-md.hidden-inline-sm,
 td.hidden-inline-md.hidden-inline-sm {
  display:none !important
 }
}
@media (min-width:992px) and (max-width:1199px) {
 .hidden-inline-md,
 tr.hidden-inline-md,
 th.hidden-inline-md,
 td.hidden-inline-md {
  display:none !important
 }
}
@media (min-width:1200px) {
 .hidden-inline-md.hidden-inline-lg,
 tr.hidden-inline-md.hidden-inline-lg,
 th.hidden-inline-md.hidden-inline-lg,
 td.hidden-inline-md.hidden-inline-lg {
  display:none !important
 }
}
.hidden-inline-lg {
 display:inline !important
}
tr.hidden-inline-lg {
 display:table-row !important
}
th.hidden-inline-lg,
td.hidden-inline-lg {
 display:table-cell !important
}
@media (max-width:767px) {
 .hidden-inline-lg.hidden-inline-xs,
 tr.hidden-inline-lg.hidden-inline-xs,
 th.hidden-inline-lg.hidden-inline-xs,
 td.hidden-inline-lg.hidden-inline-xs {
  display:none !important
 }
}
@media (min-width:768px) and (max-width:991px) {
 .hidden-inline-lg.hidden-inline-sm,
 tr.hidden-inline-lg.hidden-inline-sm,
 th.hidden-inline-lg.hidden-inline-sm,
 td.hidden-inline-lg.hidden-inline-sm {
  display:none !important
 }
}
@media (min-width:992px) and (max-width:1199px) {
 .hidden-inline-lg.hidden-inline-md,
 tr.hidden-inline-lg.hidden-inline-md,
 th.hidden-inline-lg.hidden-inline-md,
 td.hidden-inline-lg.hidden-inline-md {
  display:none !important
 }
}
@media (min-width:1200px) {
 .hidden-inline-lg,
 tr.hidden-inline-lg,
 th.hidden-inline-lg,
 td.hidden-inline-lg {
  display:none !important
 }
}
.visible-inline-block-xs,
tr.visible-inline-block-xs,
th.visible-inline-block-xs,
td.visible-inline-block-xs {
 display:none !important
}
@media (max-width:767px) {
 .visible-inline-block-xs {
  display:inline-block !important
 }
 tr.visible-inline-block-xs {
  display:table-row !important
 }
 th.visible-inline-block-xs,
 td.visible-inline-block-xs {
  display:table-cell !important
 }
}
@media (min-width:768px) and (max-width:991px) {
 .visible-inline-block-xs.visible-inline-block-sm {
  display:inline-block !important
 }
 tr.visible-inline-block-xs.visible-inline-block-sm {
  display:table-row !important
 }
 th.visible-inline-block-xs.visible-inline-block-sm,
 td.visible-inline-block-xs.visible-inline-block-sm {
  display:table-cell !important
 }
}
@media (min-width:992px) and (max-width:1199px) {
 .visible-inline-block-xs.visible-inline-md {
  display:inline-block !important
 }
 tr.visible-inline-block-xs.visible-inline-md {
  display:table-row !important
 }
 th.visible-inline-block-xs.visible-inline-md,
 td.visible-inline-block-xs.visible-inline-md {
  display:table-cell !important
 }
}
@media (min-width:1200px) {
 .visible-inline-block-xs.visible-inline-block-lg {
  display:inline-block !important
 }
 tr.visible-inline-block-xs.visible-inline-block-lg {
  display:table-row !important
 }
 th.visible-inline-block-xs.visible-inline-block-lg,
 td.visible-inline-block-xs.visible-inline-block-lg {
  display:table-cell !important
 }
}
.visible-inline-block-sm,
tr.visible-inline-block-sm,
th.visible-inline-block-sm,
td.visible-inline-block-sm {
 display:none !important
}
@media (max-width:767px) {
 .visible-inline-block-sm.visible-inline-block-xs {
  display:inline-block !important
 }
 tr.visible-inline-block-sm.visible-inline-block-xs {
  display:table-row !important
 }
 th.visible-inline-block-sm.visible-inline-block-xs,
 td.visible-inline-block-sm.visible-inline-block-xs {
  display:table-cell !important
 }
}
@media (min-width:768px) and (max-width:991px) {
 .visible-inline-block-sm {
  display:inline-block !important
 }
 tr.visible-inline-block-sm {
  display:table-row !important
 }
 th.visible-inline-block-sm,
 td.visible-inline-block-sm {
  display:table-cell !important
 }
}
@media (min-width:992px) and (max-width:1199px) {
 .visible-inline-block-sm.visible-inline-md {
  display:inline-block !important
 }
 tr.visible-inline-block-sm.visible-inline-md {
  display:table-row !important
 }
 th.visible-inline-block-sm.visible-inline-md,
 td.visible-inline-block-sm.visible-inline-md {
  display:table-cell !important
 }
}
@media (min-width:1200px) {
 .visible-inline-block-sm.visible-inline-block-lg {
  display:inline-block !important
 }
 tr.visible-inline-block-sm.visible-inline-block-lg {
  display:table-row !important
 }
 th.visible-inline-block-sm.visible-inline-block-lg,
 td.visible-inline-block-sm.visible-inline-block-lg {
  display:table-cell !important
 }
}
.visible-inline-md,
tr.visible-inline-md,
th.visible-inline-md,
td.visible-inline-md {
 display:none !important
}
@media (max-width:767px) {
 .visible-inline-md.visible-inline-block-xs {
  display:inline-block !important
 }
 tr.visible-inline-md.visible-inline-block-xs {
  display:table-row !important
 }
 th.visible-inline-md.visible-inline-block-xs,
 td.visible-inline-md.visible-inline-block-xs {
  display:table-cell !important
 }
}
@media (min-width:768px) and (max-width:991px) {
 .visible-inline-md.visible-inline-block-sm {
  display:inline-block !important
 }
 tr.visible-inline-md.visible-inline-block-sm {
  display:table-row !important
 }
 th.visible-inline-md.visible-inline-block-sm,
 td.visible-inline-md.visible-inline-block-sm {
  display:table-cell !important
 }
}
@media (min-width:992px) and (max-width:1199px) {
 .visible-inline-md {
  display:inline-block !important
 }
 tr.visible-inline-md {
  display:table-row !important
 }
 th.visible-inline-md,
 td.visible-inline-md {
  display:table-cell !important
 }
}
@media (min-width:1200px) {
 .visible-inline-md.visible-inline-block-lg {
  display:inline-block !important
 }
 tr.visible-inline-md.visible-inline-block-lg {
  display:table-row !important
 }
 th.visible-inline-md.visible-inline-block-lg,
 td.visible-inline-md.visible-inline-block-lg {
  display:table-cell !important
 }
}
.visible-inline-block-lg,
tr.visible-inline-block-lg,
th.visible-inline-block-lg,
td.visible-inline-block-lg {
 display:none !important
}
@media (max-width:767px) {
 .visible-inline-block-lg.visible-inline-block-xs {
  display:inline-block !important
 }
 tr.visible-inline-block-lg.visible-inline-block-xs {
  display:table-row !important
 }
 th.visible-inline-block-lg.visible-inline-block-xs,
 td.visible-inline-block-lg.visible-inline-block-xs {
  display:table-cell !important
 }
}
@media (min-width:768px) and (max-width:991px) {
 .visible-inline-block-lg.visible-inline-block-sm {
  display:inline-block !important
 }
 tr.visible-inline-block-lg.visible-inline-block-sm {
  display:table-row !important
 }
 th.visible-inline-block-lg.visible-inline-block-sm,
 td.visible-inline-block-lg.visible-inline-block-sm {
  display:table-cell !important
 }
}
@media (min-width:992px) and (max-width:1199px) {
 .visible-inline-block-lg.visible-inline-md {
  display:inline-block !important
 }
 tr.visible-inline-block-lg.visible-inline-md {
  display:table-row !important
 }
 th.visible-inline-block-lg.visible-inline-md,
 td.visible-inline-block-lg.visible-inline-md {
  display:table-cell !important
 }
}
@media (min-width:1200px) {
 .visible-inline-block-lg {
  display:inline-block !important
 }
 tr.visible-inline-block-lg {
  display:table-row !important
 }
 th.visible-inline-block-lg,
 td.visible-inline-block-lg {
  display:table-cell !important
 }
}
.hidden-inline-block-xs {
 display:inline-block !important
}
tr.hidden-inline-block-xs {
 display:table-row !important
}
th.hidden-inline-block-xs,
td.hidden-inline-block-xs {
 display:table-cell !important
}
@media (max-width:767px) {
 .hidden-inline-block-xs,
 tr.hidden-inline-block-xs,
 th.hidden-inline-block-xs,
 td.hidden-inline-block-xs {
  display:none !important
 }
}
@media (min-width:768px) and (max-width:991px) {
 .hidden-inline-block-xs.hidden-inline-block-sm,
 tr.hidden-inline-block-xs.hidden-inline-block-sm,
 th.hidden-inline-block-xs.hidden-inline-block-sm,
 td.hidden-inline-block-xs.hidden-inline-block-sm {
  display:none !important
 }
}
@media (min-width:992px) and (max-width:1199px) {
 .hidden-inline-block-xs.hidden-inline-md,
 tr.hidden-inline-block-xs.hidden-inline-md,
 th.hidden-inline-block-xs.hidden-inline-md,
 td.hidden-inline-block-xs.hidden-inline-md {
  display:none !important
 }
}
@media (min-width:1200px) {
 .hidden-inline-block-xs.hidden-inline-block-lg,
 tr.hidden-inline-block-xs.hidden-inline-block-lg,
 th.hidden-inline-block-xs.hidden-inline-block-lg,
 td.hidden-inline-block-xs.hidden-inline-block-lg {
  display:none !important
 }
}
.hidden-inline-block-sm {
 display:inline-block !important
}
tr.hidden-inline-block-sm {
 display:table-row !important
}
th.hidden-inline-block-sm,
td.hidden-inline-block-sm {
 display:table-cell !important
}
@media (max-width:767px) {
 .hidden-inline-block-sm.hidden-inline-block-xs,
 tr.hidden-inline-block-sm.hidden-inline-block-xs,
 th.hidden-inline-block-sm.hidden-inline-block-xs,
 td.hidden-inline-block-sm.hidden-inline-block-xs {
  display:none !important
 }
}
@media (min-width:768px) and (max-width:991px) {
 .hidden-inline-block-sm,
 tr.hidden-inline-block-sm,
 th.hidden-inline-block-sm,
 td.hidden-inline-block-sm {
  display:none !important
 }
}
@media (min-width:992px) and (max-width:1199px) {
 .hidden-inline-block-sm.hidden-inline-md,
 tr.hidden-inline-block-sm.hidden-inline-md,
 th.hidden-inline-block-sm.hidden-inline-md,
 td.hidden-inline-block-sm.hidden-inline-md {
  display:none !important
 }
}
@media (min-width:1200px) {
 .hidden-inline-block-sm.hidden-inline-block-lg,
 tr.hidden-inline-block-sm.hidden-inline-block-lg,
 th.hidden-inline-block-sm.hidden-inline-block-lg,
 td.hidden-inline-block-sm.hidden-inline-block-lg {
  display:none !important
 }
}
.hidden-inline-md {
 display:inline-block !important
}
tr.hidden-inline-md {
 display:table-row !important
}
th.hidden-inline-md,
td.hidden-inline-md {
 display:table-cell !important
}
@media (max-width:767px) {
 .hidden-inline-md.hidden-inline-block-xs,
 tr.hidden-inline-md.hidden-inline-block-xs,
 th.hidden-inline-md.hidden-inline-block-xs,
 td.hidden-inline-md.hidden-inline-block-xs {
  display:none !important
 }
}
@media (min-width:768px) and (max-width:991px) {
 .hidden-inline-md.hidden-inline-block-sm,
 tr.hidden-inline-md.hidden-inline-block-sm,
 th.hidden-inline-md.hidden-inline-block-sm,
 td.hidden-inline-md.hidden-inline-block-sm {
  display:none !important
 }
}
@media (min-width:992px) and (max-width:1199px) {
 .hidden-inline-md,
 tr.hidden-inline-md,
 th.hidden-inline-md,
 td.hidden-inline-md {
  display:none !important
 }
}
@media (min-width:1200px) {
 .hidden-inline-md.hidden-inline-block-lg,
 tr.hidden-inline-md.hidden-inline-block-lg,
 th.hidden-inline-md.hidden-inline-block-lg,
 td.hidden-inline-md.hidden-inline-block-lg {
  display:none !important
 }
}
.hidden-inline-block-lg {
 display:inline-block !important
}
tr.hidden-inline-block-lg {
 display:table-row !important
}
th.hidden-inline-block-lg,
td.hidden-inline-block-lg {
 display:table-cell !important
}
@media (max-width:767px) {
 .hidden-inline-block-lg.hidden-inline-block-xs,
 tr.hidden-inline-block-lg.hidden-inline-block-xs,
 th.hidden-inline-block-lg.hidden-inline-block-xs,
 td.hidden-inline-block-lg.hidden-inline-block-xs {
  display:none !important
 }
}
@media (min-width:768px) and (max-width:991px) {
 .hidden-inline-block-lg.hidden-inline-block-sm,
 tr.hidden-inline-block-lg.hidden-inline-block-sm,
 th.hidden-inline-block-lg.hidden-inline-block-sm,
 td.hidden-inline-block-lg.hidden-inline-block-sm {
  display:none !important
 }
}
@media (min-width:992px) and (max-width:1199px) {
 .hidden-inline-block-lg.hidden-inline-md,
 tr.hidden-inline-block-lg.hidden-inline-md,
 th.hidden-inline-block-lg.hidden-inline-md,
 td.hidden-inline-block-lg.hidden-inline-md {
  display:none !important
 }
}
@media (min-width:1200px) {
 .hidden-inline-block-lg,
 tr.hidden-inline-block-lg,
 th.hidden-inline-block-lg,
 td.hidden-inline-block-lg {
  display:none !important
 }
}
button.button,
.button {
 background:#B5A16A;
 color:#fff;
 border:medium none;
 box-shadow:none !important;
 text-transform:uppercase;
 min-width:130px;
 border-radius:0px;
 padding:9px 10px;
 font:normal normal 400 11px "Gotham A","Gotham B";
 cursor:pointer
}
.block.block-info {
  color: white;
  float: left;
  padding: 21px 0;
  width: 33%;
}
.block.block-info > h3 {
  border: 0 none;
  font-size: 1em;
  text-align: center;
}